#### How would you gather useful information about patients admitted to the ICU?

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
from IPython.display import display, HTML # used to print out pretty pandas dataframes
display(HTML("<style>.container { width:100% !important; }</style>")) # widest display
import matplotlib.dates as dates
import matplotlib.lines as mlines

pd.options.display.max_colwidth = 500
pd.options.display.width = 500
pd.options.display.max_columns = 500
pd.options.display.max_rows = 200


%matplotlib inline
plt.style.use('ggplot') 

# specify user/password/where the database is
sqluser = 'eightiesfanjan'
sqlpass = 'squiggle'
dbname = 'mimic'
schema_name = 'mimiciii'
host = 'localhost'

query_schema = 'SET search_path to ' + schema_name + ';'

# connect to the database
con = psycopg2.connect(dbname=dbname, user=sqluser, password=sqlpass, host=host)

### Exploration

In [3]:

query = query_schema + """
SELECT *
FROM transfers
"""
df_demo= pd.read_sql_query(query,con)
df_demo

        row_id  subject_id  hadm_id  icustay_id    dbsource  eventtype prev_careunit curr_careunit  prev_wardid  curr_wardid              intime             outtime     los
0          657         111   192123    254245.0     carevue   transfer           CCU          MICU          7.0         23.0 2142-04-29 15:27:11 2142-05-04 20:38:33  125.19
1          658         111   192123         NaN     carevue   transfer          MICU          None         23.0         45.0 2142-05-04 20:38:33 2142-05-05 11:46:32   15.13
2          659         111   192123         NaN     carevue  discharge          None          None         45.0          NaN 2142-05-05 11:46:32                 NaT     NaN
3          660         111   155897    249202.0  metavision      admit          None          MICU          NaN         52.0 2144-07-01 04:13:59 2144-07-01 05:19:39    1.09
4          661         111   155897         NaN  metavision   transfer          MICU          None         52.0         32.0 2144-07-01 05:19:39 2144-07-01 06:28:29    1.15
5          662         111   155897    249202.0  metavision   transfer          None          MICU         32.0         52.0 2144-07-01 06:28:29 2144-07-01 08:07:16    1.65
6          663         111   155897         NaN  metavision   transfer          MICU          None         52.0         32.0 2144-07-01 08:07:16 2144-07-01 08:13:51    0.11
7          664         111   155897    249202.0  metavision   transfer          None          MICU         32.0         23.0 2144-07-01 08:13:51 2144-07-01 17:56:31    9.71
8          665         111   155897         NaN  metavision  discharge          MICU          None         23.0          NaN 2144-07-01 17:56:31                 NaT     NaN
9          666         112   174105    289222.0     carevue      admit          None          MICU          NaN         12.0 2194-06-13 18:41:27 2194-06-14 14:51:17   20.16
10         667         112   174105         NaN     carevue   transfer          MICU          None         12.0          3.0 2194-06-14 14:51:17 2194-06-14 15:12:56    0.36
11         668         112   174105         NaN     carevue   transfer          None          None          3.0         17.0 2194-06-14 15:12:56 2194-06-18 16:57:29   97.74
12         669         112   174105         NaN     carevue  discharge          None          None         17.0          NaN 2194-06-18 16:57:29                 NaT     NaN
13         670         112   173177         NaN     carevue      admit          None          None          NaN         18.0 2196-09-27 18:22:22 2196-09-27 18:40:51    0.31
14         671         112   173177         NaN     carevue   transfer          None          None         18.0         32.0 2196-09-27 18:40:51 2196-09-27 20:18:38    1.63
15         672         112   173177         NaN     carevue   transfer          None          None         32.0         17.0 2196-09-27 20:18:38 2196-09-28 00:30:29    4.20
16         673         112   173177    251972.0     carevue   transfer          None          MICU         17.0         50.0 2196-09-28 00:30:29 2196-09-29 03:50:53   27.34
17         674         112   173177         NaN     carevue  discharge          MICU          None         50.0          NaN 2196-09-29 03:50:53                 NaT     NaN
18         675         113   109976    224661.0     carevue      admit          None         TSICU          NaN         23.0 2140-12-12 22:48:08 2140-12-13 17:42:46   18.91
19         676         113   109976         NaN     carevue   transfer         TSICU          None         23.0          3.0 2140-12-13 17:42:46 2140-12-27 19:28:13  337.76
20         677         113   109976         NaN     carevue  discharge          None          None          3.0          NaN 2140-12-27 19:28:13                 NaT     NaN
21         678         114   178393         NaN     carevue      admit          None          None          NaN         27.0 2146-08-29 01:18:00 2146-08-29 17:59:00   16.68
22         679         114   178393    258626.0     carevue   transfer          None          CSRU         27.0         23.0 2146-08-29 17:59:00 2146-08-31 13:30:00   43.52
23         680         114   178393         NaN     carevue   transfer          CSRU          None         23.0          7.0 2146-08-31 13:30:00 2146-09-03 16:06:00   74.60
24         681         114   178393         NaN     carevue  discharge          None          None          7.0          NaN 2146-09-03 16:06:00                 NaT     NaN
25         682         115   114585         NaN     carevue      admit          None          None          NaN         54.0 2194-10-16 12:49:39 2194-10-17 13:22:28   24.55
26         683         115   114585    232514.0     carevue   transfer          None          SICU         54.0         57.0 2194-10-17 13:22:28 2194-10-24 16:26:47  171.07
27         684         115   114585         NaN     carevue   transfer          SICU          None         57.0         54.0 2194-10-24 16:26:47 2194-11-03 13:00:06  236.56
28         685         115   114585         NaN     carevue   transfer          None          None         54.0         54.0 2194-11-03 13:00:06 2194-11-13 16:54:23  243.90
29         686         115   114585         NaN     carevue  discharge          None          None         54.0          NaN 2194-11-13 16:54:23                 NaT     NaN
30         687         116   127203    208829.0     carevue      admit          None          NICU          NaN         56.0 2116-10-22 21:29:32 2116-10-22 22:38:33    1.15
31         688         116   127203    208829.0     carevue   transfer          NICU          NICU         56.0         56.0 2116-10-22 22:38:33 2116-10-23 19:43:32   21.08
32         689         116   127203         NaN     carevue   transfer          NICU         NWARD         56.0          5.0 2116-10-23 19:43:32 2116-10-26 19:50:01   72.11
33         690         116   127203         NaN     carevue  discharge         NWARD          None          5.0          NaN 2116-10-26 19:50:01                 NaT     NaN
34         691         117   140784         NaN     carevue      admit          None          None          NaN          2.0 2133-04-07 16:30:30 2133-04-08 04:04:52   11.57
35         692         117   140784         NaN     carevue   transfer          None          None          2.0         49.0 2133-04-08 04:04:52 2133-04-08 17:20:33   13.26
36         693         117   140784    211700.0     carevue   transfer          None          MICU         49.0         12.0 2133-04-08 17:20:33 2133-04-10 01:02:01   31.69
37         694         117   140784         NaN     carevue   transfer          MICU          None         12.0         45.0 2133-04-10 01:02:01 2133-04-12 16:38:12   63.60
38         695         117   140784         NaN     carevue  discharge          None          None         45.0          NaN 2133-04-12 16:38:12                 NaT     NaN
39         696         117   164853         NaN     carevue      admit          None          None          NaN         54.0 2133-11-13 21:35:25 2133-11-18 13:24:19  111.82
40         697         117   164853    217966.0     carevue   transfer          None          MICU         54.0         15.0 2133-11-18 13:24:19 2133-12-01 18:08:50  316.74
41         698         117   164853         NaN     carevue  discharge          MICU          None         15.0          NaN 2133-12-01 18:08:50                 NaT     NaN
42         699         118   147035    237541.0     carevue      admit          None          NICU          NaN         56.0 2103-08-11 14:20:55 2103-08-11 15:57:15    1.61
43         700         118   147035    237541.0     carevue   transfer          NICU          NICU         56.0         56.0 2103-08-11 15:57:15 2103-08-11 17:06:30    1.15
44         701         118   147035         NaN     carevue   transfer          NICU         NWARD         56.0         43.0 2103-08-11 17:06:30 2103-08-13 13:53:07   44.78
45         702         118   147035         NaN     carevue  discharge         NWARD          None         43.0          NaN 2103-08-13 13:53:07                 NaT     NaN
46         703         119   135738         NaN     carevue      admit          None          None          NaN         40.0 2159-09-12 15:26:00 2159-09-12 16:43:00    1.28
47         704         119   135738         NaN     carevue   transfer          None          None         40.0         40.0 2159-09-12 16:43:00 2159-09-12 18:05:00    1.37
48         705         119   135738    219425.0     carevue   transfer          None          MICU         40.0         15.0 2159-09-12 18:05:00 2159-09-13 16:00:00   21.92
49         706         119   135738         NaN     carevue   transfer          MICU          None         15.0         40.0 2159-09-13 16:00:00 2159-09-14 11:24:00   19.40
50         707         119   135738         NaN     carevue  discharge          None          None         40.0          NaN 2159-09-14 11:24:00                 NaT     NaN
51         708         120   188923         NaN     carevue      admit          None         NWARD          NaN          5.0 2172-02-15 15:29:47 2172-02-15 15:31:44    0.03
52         709         120   188923    273725.0     carevue   transfer         NWARD          NICU          5.0         56.0 2172-02-15 15:31:44 2172-02-15 17:21:17    1.83
53         710         120   188923    273725.0     carevue   transfer          NICU          NICU         56.0         56.0 2172-02-15 17:21:17 2172-02-15 18:26:39    1.09
54         711         120   188923         NaN     carevue   transfer          NICU         NWARD         56.0          5.0 2172-02-15 18:26:39 2172-02-17 15:25:35   44.98
55         712         120   188923         NaN     carevue  discharge         NWARD          None          5.0          NaN 2172-02-17 15:25:35                 NaT     NaN
56         713         122   135750    203019.0     carevue      admit          None          NICU          NaN         56.0 2154-06-17 23:16:19 2154-06-17 23:21:17    0.08
57         714         122   135750    203019.0     carevue   transfer          NICU          NICU         56.0         56.0 2154-06-17 23:21:17 2154-06-18 20:27:21   21.10
58         715         122   135750         NaN     carevue   transfer          NICU         NWARD         56.0         43.0 2154-06-18 20:27:21 2154-06-18 20:28:50    0.02
59         716         122   135750    203019.0     carevue   transfer         NWARD          NICU         43.0         56.0 2154-06-18 20:28:50 2154-06-18 20:32:11    0.06
60         717         122   135750         NaN     carevue   transfer          NICU         NWARD         56.0         43.0 2154-06-18 20:32:11 2154-06-20 14:31:10   41.98
61         718         122   135750         NaN     carevue  discharge         NWARD          None         43.0          NaN 2154-06-20 14:31:10                 NaT     NaN
62         719         123   195632    227264.0     carevue      admit          None           CCU          NaN         57.0 2161-10-29 02:27:41 2161-10-30 14:19:12   35.86
63         720         123   195632         NaN     carevue   transfer           CCU          None         57.0         17.0 2161-10-30 14:19:12 2161-11-01 11:37:39   45.31
64         721         123   195632         NaN     carevue  discharge          None          None         17.0          NaN 2161-11-01 11:37:39                 NaT     NaN
65         722         124   172461         NaN     carevue      admit          None          None          NaN         36.0 2160-06-24 21:25:47 2160-07-01 21:18:31  167.88
66         723         124   172461         NaN     carevue   transfer          None          None         36.0          9.0 2160-07-01 21:18:31 2160-07-03 04:37:40   31.32
67         724         124   172461         NaN     carevue   transfer          None          None          9.0          3.0 2160-07-03 04:37:40 2160-07-03 09:11:47    4.57
68         725         124   172461         NaN     carevue   transfer          None          None          3.0          3.0 2160-07-03 09:11:47 2160-07-09 19:47:26  154.59
69         726         124   172461    255660.0     carevue   transfer          None          SICU          3.0         23.0 2160-07-09 19:47:26 2160-07-10 14:52:09   19.08
70         727         124   172461    255660.0     carevue   transfer          SICU          MICU         23.0         12.0 2160-07-10 14:52:09 2160-07-13 17:40:30   74.81
71         728         124   172461         NaN     carevue   transfer          MICU          None         12.0          3.0 2160-07-13 17:40:30 2160-07-15 15:11:28   45.52
72         729         124   172461         NaN     carevue  discharge          None          None          3.0          NaN 2160-07-15 15:11:28                 NaT     NaN
73         730         124   112906         NaN     carevue      admit          None          None          NaN         32.0 2161-12-17 03:40:12 2161-12-17 11:35:34    7.92
74         731         124   112906    285535.0     carevue   transfer          None          MICU         32.0         12.0 2161-12-17 11:35:34 2161-12-24 16:08:42  172.55
75         732         124   112906         NaN     carevue  discharge          MICU          None         12.0          NaN 2161-12-24 16:08:42                 NaT     NaN
76         733         124   134369         NaN     carevue      admit          None          None          NaN          3.0 2165-05-21 21:03:46 2165-05-24 06:21:33   57.30
77         734         124   134369         NaN     carevue   transfer          None          None          3.0          8.0 2165-05-24 06:21:33 2165-05-30 08:59:04  146.63
78         735         124   134369    225073.0     carevue   transfer          None          CSRU          8.0         12.0 2165-05-30 08:59:04 2165-05-31 17:03:12   32.07
79         736         124   134369         NaN     carevue   transfer          CSRU          None         12.0          8.0 2165-05-31 17:03:12 2165-06-03 14:36:12   69.55
80         737         124   134369         NaN     carevue   transfer          None          None          8.0          3.0 2165-06-03 14:36:12 2165-06-06 16:07:03   73.51
81         738         124   134369         NaN     carevue  discharge          None          None          3.0          NaN 2165-06-06 16:07:03                 NaT     NaN
82         739         124   138376         NaN  metavision      admit          None          None          NaN         45.0 2165-12-31 18:55:53 2165-12-31 21:19:47    2.40
83         740         124   138376         NaN  metavision   transfer          None          None         45.0         45.0 2165-12-31 21:19:47 2166-01-09 12:13:34  206.90
84         741         124   138376         NaN  metavision   transfer          None          None         45.0         49.0 2166-01-09 12:13:34 2166-01-09 13:05:18    0.86
85         742         124   138376    256064.0  metavision   transfer          None          SICU         49.0         57.0 2166-01-09 13:05:18 2166-02-01 10:52:09  549.78
86         743         124   138376         NaN  metavision  discharge          SICU          None         57.0          NaN 2166-02-01 10:52:09                 NaT     NaN
87         744         125   157348         NaN     carevue      admit          None          None          NaN         55.0 2179-02-14 21:23:52 2179-02-14 21:28:59    0.09
88         745         125   157348         NaN     carevue   transfer          None          None         55.0         55.0 2179-02-14 21:28:59 2179-02-16 07:34:49   34.10
89         746         125   157348         NaN     carevue   transfer          None          None         55.0         49.0 2179-02-16 07:34:49 2179-02-16 09:36:46    2.03
90         747         125   157348    268261.0     carevue   transfer          None          CSRU         49.0         15.0 2179-02-16 09:36:46 2179-02-17 15:05:13   29.47
91         748         125   157348         NaN     carevue   transfer          CSRU          None         15.0         55.0 2179-02-17 15:05:13 2179-02-21 18:04:49   98.99
92         749         125   157348         NaN     carevue  discharge          None          None         55.0          NaN 2179-02-21 18:04:49                 NaT     NaN
93         750         126   176860    282343.0     carevue      admit          None          NICU          NaN         56.0 2129-08-10 10:28:56 2129-08-10 11:03:21    0.57
94         751         126   176860    282343.0     carevue   transfer          NICU          NICU         56.0         56.0 2129-08-10 11:03:21 2129-09-15 06:17:21  859.23
95         752         126   176860    282343.0     carevue   transfer          NICU          NICU         56.0         56.0 2129-09-15 06:17:21 2129-10-24 19:01:44  948.74
96         753         126   176860         NaN     carevue  discharge          NICU          None         56.0          NaN 2129-10-24 19:01:44                 NaT     NaN
97         754         127   141647    296852.0     carevue      admit          None          MICU          NaN         15.0 2183-08-20 17:27:21 2183-08-24 15:28:26   94.02
98         755         127   141647         NaN     carevue  discharge          MICU          None         15.0          NaN 2183-08-24 15:28:26                 NaT     NaN
99         756         128   180872    258419.0     carevue      admit          None          NICU          NaN         56.0 2122-03-16 21:01:53 2122-03-16 22:35:30    1.56
...        ...         ...      ...         ...         ...        ...           ...           ...          ...          ...                 ...                 ...     ...
261797  257675       96924   105506         NaN  metavision  discharge          None          None         54.0          NaN 2168-03-15 15:32:17                 NaT     NaN
261798  257676       96924   165586         NaN  metavision      admit          None          None          NaN         48.0 2171-09-09 18:34:23 2171-09-09 19:34:43    1.01
261799  257677       96924   165586         NaN  metavision   transfer          None          None         48.0         18.0 2171-09-09 19:34:43 2171-09-12 16:50:31   69.26
261800  257678       96924   165586         NaN  metavision   transfer          None          None         18.0         18.0 2171-09-12 16:50:31 2171-09-13 16:32:44   23.70
261801  257679       96924   165586         NaN  metavision   transfer          None          None         18.0         18.0 2171-09-13 16:32:44 2171-09-14 01:27:56    8.92
261802  257680       96924   165586    233646.0  metavision   transfer          None          MICU         18.0         52.0 2171-09-14 01:27:56 2171-09-15 17:38:08   40.17
261803  257681       96924   165586         NaN  metavision   transfer          MICU          None         52.0         18.0 2171-09-15 17:38:08 2171-09-15 17:46:42    0.14
261804  257682       96924   165586         NaN  metavision   transfer          None          None         18.0         18.0 2171-09-15 17:46:42 2171-09-15 22:33:01    4.77
261805  257683       96924   165586         NaN  metavision   transfer          None          None         18.0         18.0 2171-09-15 22:33:01 2171-10-03 06:58:12  416.42
261806  257684       96924   165586         NaN  metavision  discharge          None          None         18.0          NaN 2171-10-03 06:58:12                 NaT     NaN
261807  257685       96928   184990    239550.0  metavision      admit          None           CCU          NaN          7.0 2138-06-03 12:37:15 2138-06-05 13:37:06   49.00
261808  257686       96928   184990         NaN  metavision   transfer           CCU          None          7.0         17.0 2138-06-05 13:37:06 2138-06-07 17:46:09   52.15
261809  257687       96928   184990         NaN  metavision  discharge          None          None         17.0          NaN 2138-06-07 17:46:09                 NaT     NaN

In [54]:

query = query_schema + """
SELECT subject_id
    ,hadm_id
    ,COUNT(*)
FROM icustays
GROUP BY 1,2 
ORDER BY 3 DESC
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  count
0           25699   186706      7
1           18108   163281      7
2            7354   109520      6
3           48479   123178      6
4           27427   175448      6
5           26201   108976      5
6           25256   196615      5
7           66508   131118      5
8           25225   154784      5
9           55921   129611      5
10          27022   196712      5
11          55337   164768      5
12          98220   173136      5
13          14590   153926      5
14          20779   154357      5
15           6381   176848      4
16           6702   157559      4
17          28868   122942      4
18          52826   155295      4
19          44459   101062      4
20          24510   199516      4
21          90143   185518      4
22          16847   178850      4
23          15846   195641      4
24          74857   107543      4
25           8516   166107      4
26          26494   112397      4
27          93321   115396      4
28          99817   195557      4
29          20280   146830      4
30          11765   196798      4
31          15201   123613      4
32          55094   133570      4
33           6365   141958      4
34          29163   194933      4
35          18436   162493      4
36           1780   149672      4
37          44969   174918      4
38          29338   127713      4
39          91333   112508      4
40           6659   125400      4
41          22808   118187      4
42          31294   101974      4
43           3868   157650      4
44           1579   131236      4
45          46588   137869      4
46           5362   173689      4
47          31260   114524      4
48          76327   142755      4
49           5596   199100      4
50          10650   192001      4
51          66745   192825      4
52          32097   175321      4
53          20796   166936      4
54          17610   161643      4
55          29219   147435      4
56          11217   127649      4
57          28941   164300      4
58            975   175734      4
59          30833   147559      4
60          42904   180714      4
61          16463   183203      4
62          18944   173283      4
63           2690   160326      4
64          26492   125102      4
65          75195   190261      4
66          17021   178109      4
67          63496   190949      4
68          81480   106913      4
69          13251   194852      3
70          31441   145118      3
71          40513   123268      3
72          15243   190128      3
73           6809   194629      3
74          29241   188085      3
75          30661   119226      3
76           2397   104732      3
77          84469   199821      3
78          60115   108052      3
79          18589   181162      3
80          40483   123866      3
81           7037   144768      3
82           6520   124437      3
83          88953   128732      3
84          78182   104834      3
85            408   173910      3
86          64825   138225      3
87          93701   187447      3
88          16119   196117      3
89          16164   131934      3
90          22464   107128      3
91           2553   126138      3
92          10124   170883      3
93          22933   183577      3
94           4655   120724      3
95          13599   190685      3
96          76665   148350      3
97          10299   105814      3
98          13440   101433      3
99           1604   193058      3
...           ...      ...    ...
57686       32551   190198      1
57687       87747   182373      1
57688       15494   132910      1
57689       54625   176749      1
57690        2415   104036      1
57691        6310   144225      1
57692       57308   133193      1
57693       28759   168368      1
57694       26665   182366      1
57695        8042   173969      1
57696       96674   121538      1
57697       40327   197834      1
57698       64911   103718      1
57699       53536   196098      1
57700       42351   174564      1
57701       76457   123511      1
57702       14495   140753      1
57703       31091   124986      1
57704        7830   187608      1
57705        2388   105090      1
57706       98919   145140      1
57707       86845   141609      1
57708       14812   175542      1
57709       46718   176672      1
57710       23651   103416      1
57711       15153   144868      1
57712       27544   128114      1
57713       86313   151905      1
57714        9019   149238      1
57715       20899   138319      1
57716        8824   196822      1
57717       14565   133543      1
57718       40198   101188      1
57719       25758   109809      1
57720       47643   124142      1
57721       25115   153867      1
57722        5170   180019      1
57723       25946   173524      1
57724       91773   135047      1
57725       84107   132613      1
57726       95705   180095      1
57727        2010   126005      1
57728       10488   188355      1
57729       97042   159950      1
57730       11309   109967      1
57731       12922   116956      1
57732        3429   111827      1
57733        8712   156710      1
57734       26396   109162      1
57735       74789   173650      1
57736       29464   164993      1
57737       10871   150747      1
57738       27044   176782      1
57739       59158   191754      1
57740       45703   106305      1
57741       94698   120292      1
57742        9149   116810      1
57743       41625   112945      1
57744       16676   111671      1
57745       18492   136229      1
57746       29773   149695      1
57747       26981   197448      1
57748       40837   177389      1
57749       86683   193431      1
57750       11523   133248      1
57751       78615   112432      1
57752       91907   136423      1
57753         569   116412      1
57754       10068   192083      1
57755       43787   129526      1
57756       18689   117162      1
57757       22028   189236      1
57758       12732   142290      1
57759        5247   103106      1
57760       30414   132405      1
57761        1946   159092      1
57762          19   109235      1
57763        7013   149256      1
57764       27332   129990      1
57765       65481   133758      1
57766       23657   130222      1
57767       31920   111910      1
57768       31126   103408      1
57769       13953   146078      1
57770       61021   110804      1
57771       84223   173847      1
57772        8994   188191      1
57773        7074   118132      1
57774       54489   153459      1
57775       63477   184985      1
57776        4788   131968      1
57777       13059   106917      1
57778       25780   120990      1
57779       32669   117805      1
57780        7983   170120      1
57781       11384   140409      1
57782       10712   135721      1
57783       30321   160749      1
57784        8711   104416      1
57785       25723   126274      1

[57786 rows x 3 columns]

### What percentage of records come from multiple admits for the same subjectid? 
- 39% of icu records

In [112]:
query = query_schema + """
WITH cnts AS (

    SELECT subject_id
        ,COUNT(*) as count
    FROM icustays
    GROUP BY 1 
    ORDER BY 2 DESC
), processed_cnts AS 
(
    SELECT SUM(CASE WHEN count > 1 THEN count ELSE 0 END) AS recs_multiple_admits
        ,SUM(count) AS total
    FROM cnts
) 
SELECT *
    , 100 * (recs_multiple_admits/total) AS percent_multiple_admits
FROM processed_cnts
"""

df_demo= pd.read_sql_query(query,con)
df_demo

   recs_multiple_admits    total  percent_multiple_admits
0               23811.0  61532.0                38.696938

### Let's get earliest icu admits and admits with 181+ day intervals
- 61532.0 == > 51373 records

In [121]:
query = query_schema + """
WITH icu_admits AS (
    SELECT subject_id
        ,hadm_id
        ,intime
        ,outtime
        ,LAG (outtime) OVER (PARTITION BY subject_id ORDER BY outtime ASC) AS last_out_time
        ,extract(days FROM (intime - LAG (outtime) OVER (PARTITION BY subject_id ORDER BY outtime ASC))) AS diff_last_outtime
    FROM icustays
    GROUP BY 1,2,3,4
    ORDER BY 4 ASC
), valid_icu_admits AS (
    SELECT *
    FROM icu_admits
    WHERE (diff_last_outtime is null) OR (diff_last_outtime > 180)
)
SELECT *
FROM valid_icu_admits

"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id              intime             outtime        last_out_time  diff_last_outtime
0           82574   118464 2100-06-07 20:00:22 2100-06-08 14:59:31                 None                NaN
1           21081   159656 2100-06-14 14:33:55 2100-06-15 17:36:37                 None                NaN
2           12001   173927 2100-06-14 04:56:39 2100-06-18 19:49:38                 None                NaN
3           29156   161773 2100-06-09 01:39:43 2100-06-18 22:43:37                 None                NaN
4           32096   158366 2100-06-22 06:34:52 2100-06-24 13:35:56                 None                NaN
5           20957   113808 2100-06-26 18:43:00 2100-06-28 16:23:00                 None                NaN
6           28711   104132 2100-07-02 22:28:32 2100-07-03 00:09:15                 None                NaN
7           31585   125380 2100-07-02 22:27:28 2100-07-04 01:57:28                 None                NaN
8             476   161042 2100-07-05 10:26:45 2100-07-05 21:23:19                 None                NaN
9            9319   137275 2100-07-02 01:12:19 2100-07-05 21:38:49                 None                NaN
10          41552   120254 2100-07-06 13:59:09 2100-07-07 15:11:01                 None                NaN
11           1426   132722 2100-07-07 15:01:05 2100-07-08 18:26:51                 None                NaN
12          72723   146616 2100-07-09 13:19:40 2100-07-10 16:19:58                 None                NaN
13          22460   172937 2100-07-09 18:46:00 2100-07-11 15:19:00                 None                NaN
14          14395   196368 2100-07-12 10:05:54 2100-07-13 10:54:18                 None                NaN
15           1323   128839 2100-07-12 13:23:04 2100-07-13 21:30:48                 None                NaN
16          79168   125272 2100-07-06 15:02:22 2100-07-15 13:14:41                 None                NaN
17          42357   113129 2100-07-14 02:05:16 2100-07-15 16:56:49                 None                NaN
18          71582   101422 2100-07-16 18:10:10 2100-07-16 18:25:34                 None                NaN
19          31288   136246 2100-07-16 11:30:04 2100-07-17 16:31:25                 None                NaN
20           4521   167070 2100-07-16 19:08:00 2100-07-17 21:46:00                 None                NaN
21          12834   107726 2100-07-15 10:06:24 2100-07-18 17:44:18                 None                NaN
22           3240   192798 2100-07-18 18:03:00 2100-07-20 18:22:00                 None                NaN
23          54946   176771 2100-07-18 23:09:21 2100-07-21 12:28:18                 None                NaN
24          50893   114454 2100-07-21 13:42:11 2100-07-22 15:54:05                 None                NaN
25          31263   198779 2100-07-18 23:52:23 2100-07-23 16:49:17                 None                NaN
26           1291   141087 2100-07-04 10:29:48 2100-07-23 16:55:08                 None                NaN
27          73131   187546 2100-07-24 18:51:53 2100-07-25 18:07:24                 None                NaN
28          26920   139698 2100-07-26 04:13:28 2100-07-27 11:05:32                 None                NaN
29          68501   139687 2100-07-26 11:58:51 2100-07-27 14:33:38                 None                NaN
30          12657   143259 2100-07-26 12:47:17 2100-07-28 14:10:06                 None                NaN
31          62884   112885 2100-07-21 18:51:13 2100-07-28 18:13:25                 None                NaN
32          51754   153020 2100-07-27 18:13:04 2100-07-31 13:25:27                 None                NaN
33          28319   158388 2100-07-23 22:43:10 2100-08-01 13:18:55                 None                NaN
34          70378   172149 2100-07-31 15:59:33 2100-08-01 13:48:01                 None                NaN
35          27526   134575 2100-08-01 13:09:49 2100-08-01 19:30:49                 None                NaN
36          28239   174102 2100-08-01 12:01:24 2100-08-02 16:35:13                 None                NaN
37           2437   104692 2100-08-03 08:55:52 2100-08-03 11:27:43                 None                NaN
38          25390   138653 2100-08-02 13:56:13 2100-08-04 00:08:30                 None                NaN
39           9752   156634 2100-08-03 02:58:59 2100-08-05 17:10:09                 None                NaN
40           9299   148291 2100-08-03 19:44:07 2100-08-07 15:42:51                 None                NaN
41          17885   104551 2100-08-06 15:14:19 2100-08-08 21:57:35                 None                NaN
42          22443   110169 2100-08-06 10:55:16 2100-08-09 09:42:39                 None                NaN
43          46467   116534 2100-08-06 11:42:16 2100-08-09 16:33:27                 None                NaN
44          58640   153364 2100-08-08 12:35:15 2100-08-09 23:33:44                 None                NaN
45          88064   107776 2100-08-08 08:12:28 2100-08-10 00:45:15                 None                NaN
46          31792   144955 2100-08-06 18:16:06 2100-08-11 00:30:26                 None                NaN
47          12619   175719 2100-08-10 18:43:39 2100-08-11 16:38:38                 None                NaN
48           8591   137893 2100-08-08 08:43:52 2100-08-11 17:58:44                 None                NaN
49          60763   193449 2100-08-11 15:38:35 2100-08-13 01:41:40                 None                NaN
50           3085   114188 2100-08-13 11:04:50 2100-08-13 23:39:36                 None                NaN
51          21771   194085 2100-08-09 10:34:00 2100-08-13 23:51:00                 None                NaN
52          51059   120418 2100-08-12 19:14:04 2100-08-14 04:11:20                 None                NaN
53          44744   185717 2100-08-11 11:30:37 2100-08-14 17:37:58                 None                NaN
54          20215   106629 2100-08-11 06:16:52 2100-08-14 19:54:43                 None                NaN
55          20374   133497 2100-08-16 10:20:22 2100-08-17 11:05:58                 None                NaN
56          24948   175778 2100-08-17 09:42:15 2100-08-18 11:45:35                 None                NaN
57            750   190831 2100-08-11 22:50:28 2100-08-19 12:07:14                 None                NaN
58          84585   182054 2100-08-03 00:28:55 2100-08-19 16:52:50                 None                NaN
59          10529   146680 2100-08-16 15:39:34 2100-08-19 19:00:19                 None                NaN
60          43782   101748 2100-08-18 19:24:33 2100-08-20 14:43:13                 None                NaN
61          29851   184844 2100-08-19 04:42:23 2100-08-22 00:56:23                 None                NaN
62          25831   108473 2100-08-25 09:30:55 2100-08-25 11:41:04                 None                NaN
63          41822   165465 2100-08-24 09:51:47 2100-08-25 14:41:15                 None                NaN
64          67984   113948 2100-08-24 10:07:09 2100-08-25 15:08:13                 None                NaN
65           5131   136261 2100-08-24 19:27:00 2100-08-25 20:10:00                 None                NaN
66          28857   179804 2100-08-22 13:57:23 2100-08-25 21:33:28                 None                NaN
67          79838   134899 2100-08-19 13:35:05 2100-08-26 15:16:04                 None                NaN
68          61378   142977 2100-08-26 13:46:11 2100-08-27 12:46:13                 None                NaN
69          53728   107970 2100-08-28 21:07:10 2100-08-29 18:22:54                 None                NaN
70          13597   190241 2100-08-28 22:02:10 2100-08-31 09:36:07                 None                NaN
71          42739   198991 2100-08-31 01:36:13 2100-09-01 00:59:34                 None                NaN
72          27583   121811 2100-09-01 06:41:53 2100-09-01 18:05:12                 None                NaN
73          76715   140337 2100-09-01 18:20:49 2100-09-02 13:37:20                 None                NaN
74          32590   109923 2100-08-22 01:25:14 2100-09-02 22:38:16                 None                NaN
75          20654   140556 2100-08-31 10:15:06 2100-09-02 22:52:55                 None                NaN
76          86102   157271 2100-08-31 06:49:45 2100-09-03 13:40:25                 None                NaN
77          18180   102694 2100-08-31 16:44:17 2100-09-03 15:43:56                 None                NaN
78          11132   154535 2100-09-03 22:14:11 2100-09-04 13:13:26                 None                NaN
79          49742   118197 2100-09-03 15:34:20 2100-09-05 15:02:33                 None                NaN
80          84686   131910 2100-08-20 18:23:27 2100-09-05 15:26:33                 None                NaN
81          86786   108386 2100-09-04 22:09:48 2100-09-05 15:47:29                 None                NaN
82          67248   144033 2100-09-03 23:22:56 2100-09-06 09:55:38                 None                NaN
83          29995   143617 2100-09-07 06:38:26 2100-09-08 21:01:22                 None                NaN
84            783   111007 2100-09-09 13:31:08 2100-09-09 15:00:30                 None                NaN
85          31329   135605 2100-08-29 22:58:46 2100-09-09 16:42:37                 None                NaN
86          92209   166343 2100-09-10 17:26:49 2100-09-11 15:23:01                 None                NaN
87          48826   175744 2100-09-08 00:35:19 2100-09-11 15:38:00                 None                NaN
88          41154   180242 2100-09-11 11:13:29 2100-09-12 18:31:29                 None                NaN
89          26355   141747 2100-09-07 13:55:35 2100-09-12 20:37:50                 None                NaN
90          76547   171643 2100-09-01 17:27:53 2100-09-12 22:10:04                 None                NaN
91          96370   121868 2100-09-07 13:08:16 2100-09-13 19:12:18                 None                NaN
92          53252   189277 2100-09-13 16:08:11 2100-09-14 00:57:37                 None                NaN
93          22841   126010 2100-09-08 22:00:53 2100-09-14 06:27:53                 None                NaN
94          54138   187983 2100-09-16 08:42:12 2100-09-17 13:12:11                 None                NaN
95          79576   195819 2100-09-18 20:53:50 2100-09-19 16:16:59                 None                NaN
96          14859   139124 2100-09-17 07:39:59 2100-09-20 19:13:06                 None                NaN
97          27507   169669 2100-09-14 12:12:51 2100-09-20 20:52:38                 None                NaN
98          79553   137812 2100-09-17 00:46:14 2100-09-20 20:57:12                 None                NaN
99           6155   112812 2100-09-20 01:56:38 2100-09-21 14:31:47                 None                NaN
...           ...      ...                 ...                 ...                  ...                ...
51273         745   105324 2203-10-18 17:31:51 2203-10-19 21:17:29  2202-05-01 23:54:59              534.0
51274       42763   184596 2203-10-19 16:47:33 2203-10-23 11:28:29  2201-02-15 16:22:33              976.0
51275       42820   137524 2203-10-23 06:51:37 2203-10-24 18:23:38                 None                NaN
51276       29690   166559 2203-10-22 09:13:23 2203-10-24 18:36:38  2196-02-14 15:46:00             2805.0
51277       58242   139697 2203-10-04 21:06:53 2203-10-26 17:37:03  2201-09-08 16:15:38              756.0
51278       19627   155310 2203-10-29 05:13:50 2203-11-01 16:56:50  2198-12-09 18:39:57             1783.0
51279       11369   103786 2203-11-03 18:43:40 2203-11-04 17:04:30  2199-02-10 23:17:19             1725.0
51280       56307   103947 2203-11-18 18:49:14 2203-11-27 21:09:31  2200-12-27 17:04:32             1056.0
51281       26027   132036 2204-01-01 12:48:27 2204-01-02 17:37:26  2201-01-23 18:04:26             1072.0
51282       13055   170957 2204-01-03 19:53:12 2204-01-06 16:41:04  2200-09-14 15:33:00             1206.0
51283        4074   144460 2204-01-05 10:49:07 2204-01-07 03:34:04  2200-09-22 11:15:11             1199.0
51284       25131   136050 2204-01-12 17:36:59 2204-01-16 14:30:31  2199-08-17 02:39:34             1608.0
51285       21769   133364 2203-12-25 15:53:29 2204-01-16 14:36:19  2203-06-12 13:48:21              196.0
51286       65535   175280 2204-01-20 16:13:04 2204-01-22 22:02:59  2193-05-28 13:22:00             3888.0
51287       64520   137247 2204-01-23 18:59:44 2204-01-24 20:40:28                 None                NaN
51288        4655   129279 2204-02-04 06:48:42 2204-02-10 02:55:42  2202-09-23 21:51:55              498.0
51289        3026   187545 2204-02-17 21:06:06 2204-02-18 17:45:45  2196-11-15 17:46:45             2649.0
51290        6942   172673 2204-02-21 16:11:08 2204-02-23 21:09:02                 None                NaN
51291        6378   199603 2204-03-01 23:22:38 2204-03-02 16:30:55  2201-11-28 19:17:13              824.0
51292       11870   143167 2204-03-02 07:47:05 2204-03-03 17:39:07  2200-02-21 18:22:55             1469.0
51293       28496   145663 2204-03-25 08:30:56 2204-03-26 17:46:17  2200-04-22 18:26:39             1432.0
51294       13839   173811 2204-03-28 07:01:00 2204-03-29 18:04:41  2198-11-11 18:12:04             1962.0
51295        9206   160927 2204-04-08 06:10:32 2204-04-09 14:17:44  2201-06-19 16:53:53             1023.0
51296        5199   115157 2204-04-08 08:16:19 2204-04-12 10:51:07  2196-04-25 11:07:42             2903.0
51297       16518   134471 2204-04-16 22:32:37 2204-04-21 15:10:19  2200-08-26 21:48:28             1329.0
51298        1552   184338 2204-05-07 15:58:57 2204-05-08 14:15:32  2195-02-01 21:18:00             3381.0
51299       13373   169212 2204-05-07 15:57:24 2204-05-09 18:58:03  2203-08-28 15:04:02              253.0
51300       18725   112238 2204-05-08 09:35:08 2204-05-10 20:50:03  2200-04-22 16:08:13             1476.0
51301       22500   169011 2204-05-17 22:17:10 2204-05-18 17:46:00  2200-11-16 17:16:47             1278.0
51302       19344   159893 2204-05-17 15:05:29 2204-05-19 21:18:11  2199-07-22 21:24:28             1759.0
51303       18629   146627 2204-05-30 04:55:13 2204-05-31 14:09:52  2199-02-17 16:01:19             1927.0
51304       21900   104319 2204-06-04 05:49:23 2204-06-07 17:51:50  2201-10-27 19:01:08              950.0
51305       20856   152516 2204-06-16 02:47:48 2204-06-18 19:55:56  2197-03-15 17:28:14             2648.0
51306       41311   114675 2204-06-26 01:32:27 2204-06-28 22:28:58  2200-12-13 18:39:34             1290.0
51307        3513   186086 2204-08-05 15:07:03 2204-08-10 19:47:19  2198-07-19 16:51:14             2207.0
51308        7522   170534 2204-08-09 17:20:25 2204-08-11 18:33:16  2199-07-11 00:32:00             1855.0
51309        5410   155534 2204-08-25 15:04:24 2204-08-28 02:53:47  2200-08-17 12:14:00             1469.0
51310       10510   132899 2204-09-01 10:54:31 2204-09-02 19:03:10  2201-04-02 10:00:17             1248.0
51311       12567   144162 2204-08-28 21:58:20 2204-09-09 21:41:49  2203-08-10 16:38:30              384.0
51312       76134   199200 2204-09-19 11:16:40 2204-09-22 10:55:24  2203-06-28 16:53:50              448.0
51313       30575   142849 2204-09-21 15:58:19 2204-09-22 17:01:34  2203-06-28 21:18:01              450.0
51314         963   190225 2204-10-27 18:31:44 2204-10-31 14:42:31  2195-04-28 14:56:00             3469.0
51315        3433   128254 2204-12-02 18:49:42 2204-12-03 14:19:09  2200-12-24 15:15:00             1439.0
51316       26027   127906 2204-12-11 22:29:02 2204-12-12 16:32:30  2204-01-02 17:37:26              344.0
51317       11870   122366 2204-12-13 06:02:24 2204-12-14 17:01:20  2204-03-03 17:39:07              284.0
51318       48752   105699 2204-12-13 21:22:30 2204-12-14 20:02:15  2194-05-04 15:14:00             3875.0
51319       19191   171433 2204-12-20 17:02:47 2204-12-21 15:06:53  2199-08-05 12:48:00             1963.0
51320        4618   125578 2205-01-16 22:29:45 2205-01-18 17:43:52  2196-09-09 10:22:04             3050.0
51321       21458   139946 2205-01-22 10:37:26 2205-01-23 19:03:54  2201-01-20 15:56:00             1462.0
51322       24677   189062 2205-02-12 12:31:39 2205-02-14 12:15:13  2200-08-29 15:39:04             1627.0
51323       25189   102766 2205-05-03 12:39:51 2205-05-07 17:28:45  2202-02-26 21:01:13             1161.0
51324       19470   115735 2205-05-08 09:49:16 2205-05-11 21:41:38  2199-08-03 21:33:01             2103.0
51325       23039   109327 2205-05-13 19:34:29 2205-05-15 20:19:24  2202-06-27 19:01:51             1051.0
51326       30575   186455 2205-05-28 16:10:36 2205-05-30 22:06:53  2204-11-25 18:29:51              183.0
51327       25313   125068 2205-06-18 17:33:40 2205-06-20 12:43:49  2200-11-26 14:22:00             1665.0
51328       18250   163048 2205-06-19 20:41:35 2205-06-30 16:42:36  2203-09-21 14:57:50              637.0
51329       42820   182099 2205-08-03 00:06:49 2205-08-03 23:01:22  2204-01-11 19:03:31              569.0
51330       27666   100915 2205-08-07 15:52:47 2205-08-08 17:53:56  2199-02-23 16:32:00             2355.0
51331       26928   190130 2205-08-24 13:15:02 2205-08-25 16:26:29  2199-07-08 16:43:00             2237.0
51332       18186   191330 2205-08-26 13:45:37 2205-08-28 15:41:47  2200-10-14 10:38:43             1777.0
51333       24562   191137 2205-09-23 16:34:50 2205-09-25 14:25:02  2203-04-18 02:33:33              889.0
51334       11860   102196 2205-10-13 17:24:52 2205-10-15 23:00:26  2203-06-05 17:37:34              860.0
51335       86042   191143 2205-10-24 21:53:20 2205-10-28 12:32:31                 None                NaN
51336       22588   177685 2205-12-05 16:01:30 2205-12-06 14:01:22  2202-10-19 17:37:47             1142.0
51337       12567   130733 2206-01-08 21:31:38 2206-01-09 16:39:02  2205-06-04 17:14:24              218.0
51338       23039   110712 2206-01-17 19:54:40 2206-01-18 17:01:54  2205-05-15 20:19:24              246.0
51339       18725   116110 2206-01-25 09:51:36 2206-01-27 14:50:44  2204-05-10 20:50:03              624.0
51340       13618   182862 2206-02-27 14:33:17 2206-03-01 12:03:44  2198-02-13 13:01:35             2935.0
51341       20656   120824 2206-03-24 17:26:37 2206-03-25 14:26:25  2200-11-02 15:58:34             1968.0
51342       88420   123159 2206-04-17 18:43:41 2206-04-18 12:05:47                 None                NaN
51343       11446   177694 2206-05-14 11:50:31 2206-05-27 22:25:36  2203-08-10 17:14:44             1007.0
51344       21458   150816 2206-05-30 03:11:01 2206-05-30 15:19:05  2205-01-23 19:03:54              491.0
51345       74493   198110 2206-06-09 16:44:16 2206-06-11 18:57:47  2197-01-13 10:15:00             3433.0
51346        3987   106870 2206-06-18 17:25:29 2206-06-23 22:34:38  2202-12-26 18:42:14             1269.0
51347        5196   106963 2206-07-27 20:53:01 2206-08-01 17:56:14  2199-03-13 16:12:42             2692.0
51348       18250   111201 2206-08-24 23:00:54 2206-08-25 17:12:41  2205-12-19 18:58:26              248.0
51349        3792   176637 2206-10-05 04:26:27 2206-10-11 16:07:03  2198-02-23 02:21:21             3145.0
51350        4843   187638 2207-02-28 19:40:47 2207-03-02 15:31:28  2198-11-01 14:08:00             3040.0
51351       17667   124466 2207-03-10 09:29:41 2207-03-11 21:45:15  2197-12-06 14:40:04             3379.0
51352       18629   172111 2207-04-24 13:13:44 2207-05-08 21:52:09  2204-05-31 14:09:52             1057.0
51353       15025   116670 2207-06-16 22:12:35 2207-06-18 13:24:30  2200-02-06 18:22:11             2686.0
51354       20816   186333 2207-12-13 20:57:20 2207-12-24 19:35:17  2200-02-08 18:18:41             2864.0
51355       17692   175081 2208-01-21 13:30:16 2208-01-29 17:22:43  2198-12-21 14:58:07             3316.0
51356       19338   103944 2208-04-27 22:13:44 2208-04-29 10:18:55  2198-03-19 16:56:00             3691.0

## assertions to consider
- same row size thruout upon reducing all icu ==> just those with null/earliest ==> 18+ ==> those that havent died within 24 hrs

### Now get 18+ year olds and those that did not pass in 24 hours of admittance
- icu recs 51373 => 42211 
- -18% decrease

In [187]:
query = query_schema + """
WITH icu_admits AS (
    SELECT icu.subject_id
        ,icu.hadm_id
        ,intime
        ,outtime
        ,ROUND((CAST(icu.intime as DATE) - cast(pat.dob as DATE))/365.242, 2) AS age
        ,EXTRACT(epoch FROM(dod - intime))/3600.00 AS diff_death_admit_hrs        
        ,EXTRACT(days FROM (intime - LAG (outtime) OVER (PARTITION BY icu.subject_id ORDER BY outtime ASC))) AS diff_last_outtime
    FROM icustays icu
    INNER JOIN patients pat
    ON icu.subject_id = pat.subject_id
    GROUP BY 1,2,3,4,5,6
    ORDER BY 1 ASC
)
SELECT *
FROM icu_admits
WHERE age > 18 AND 
    -- exclusion criteria: >24 hr death
    (diff_death_admit_hrs > 24 OR diff_death_admit_hrs is null) AND
    -- inclusion criteria: unique earliest icu admit, with 180 day offset if multiple records
    (diff_last_outtime is null OR diff_last_outtime > 180)
"""
df_clean= pd.read_sql_query(query,con)
df_clean

       subject_id  hadm_id              intime             outtime     age  diff_death_admit_hrs  diff_last_outtime
0               3   145834 2101-10-20 19:10:11 2101-10-26 20:43:09   76.52           5668.830278                NaN
1               4   185777 2191-03-16 00:29:31 2191-03-17 16:46:31   47.84                   NaN                NaN
2               6   107064 2175-05-30 21:30:54 2175-06-03 13:39:54   65.94                   NaN                NaN
3               9   150750 2149-11-09 13:07:02 2149-11-14 20:52:14   41.79            106.882778                NaN
4              11   194540 2178-04-16 06:19:32 2178-04-17 20:21:05   50.15           5081.674444                NaN
5              12   112213 2104-08-08 02:08:17 2104-08-15 17:22:25   72.37            285.861944                NaN
6              13   143045 2167-01-08 18:44:25 2167-01-12 10:43:31   39.86                   NaN                NaN
7              17   194023 2134-12-27 16:21:48 2134-12-29 18:04:03   47.45                   NaN                NaN
8              18   188822 2167-10-02 11:20:39 2167-10-03 18:16:05   50.84                   NaN                NaN
9              19   109235 2108-08-05 16:26:09 2108-08-06 23:40:35  300.00           9055.564167                NaN
10             20   157681 2183-04-28 15:00:36 2183-04-29 16:13:48   75.88                   NaN                NaN
11             21   109451 2134-09-11 20:50:04 2134-09-17 18:28:32   87.44           3579.165556                NaN
12             22   165315 2196-04-09 12:27:00 2196-04-10 15:54:00   64.93                   NaN                NaN
13             23   152223 2153-09-03 09:38:55 2153-09-04 15:59:11   71.13                   NaN                NaN
14             23   124321 2157-10-21 11:40:38 2157-10-22 16:08:48   75.26                   NaN             1507.0
15             24   161859 2139-06-06 16:15:36 2139-06-07 04:33:25   39.02                   NaN                NaN
16             25   129635 2160-11-02 03:16:23 2160-11-05 16:23:27   58.95                   NaN                NaN
17             26   197661 2126-05-07 09:52:30 2126-05-09 13:15:05   72.01          15806.125000                NaN
18             28   162569 2177-09-01 09:32:26 2177-09-02 12:28:42   74.38                   NaN                NaN
19             30   104557 2172-10-14 17:24:00 2172-10-16 13:44:00  300.00                   NaN                NaN
20             31   128652 2108-08-22 23:28:42 2108-08-30 21:59:20   72.26            168.521667                NaN
21             32   175413 2170-04-04 18:46:00 2170-04-12 11:13:00   45.51                   NaN                NaN
22             33   176176 2116-12-23 22:31:53 2116-12-25 11:49:55   82.39                   NaN                NaN
23             34   115799 2186-07-18 18:10:49 2186-07-19 11:27:20  300.00          48509.819722                NaN
24             34   144319 2191-02-23 05:25:32 2191-02-24 19:24:10  304.60           8178.574444             1679.0
25             35   166707 2122-02-10 09:39:59 2122-02-15 18:41:01   69.44                   NaN                NaN
26             36   182104 2131-05-04 10:29:14 2131-05-05 13:07:03   69.71                   NaN                NaN
27             36   165660 2134-05-12 06:52:47 2134-05-16 15:14:20   72.73                   NaN             1084.0
28             37   188670 2183-08-23 12:01:45 2183-08-24 15:22:53   68.93          12035.970833                NaN
29             38   185910 2166-08-10 00:29:36 2166-09-04 13:39:23   75.94                   NaN                NaN
30             41   101757 2133-01-03 06:34:40 2133-01-06 16:01:33   56.64           6473.422222                NaN
31             42   119203 2116-04-26 18:59:35 2116-04-28 16:39:05   61.16          47981.006944                NaN
32             43   146828 2186-10-01 23:16:40 2186-10-06 14:16:54   32.77                   NaN                NaN
33             44   181750 2192-11-20 10:42:55 2192-11-24 14:18:50   80.19          61381.284722                NaN
34             45   157907 2129-06-10 00:33:00 2129-06-11 16:34:00   42.40                   NaN                NaN
35             46   144073 2133-02-20 18:22:30 2133-02-21 12:49:55   74.00                   NaN                NaN
36             49   190539 2186-11-21 10:33:36 2186-11-22 12:13:33   80.92                   NaN                NaN
37             52   190797 2191-01-10 02:12:55 2191-01-11 22:37:31   38.12          13149.784722                NaN
38             53   155385 2170-03-20 20:21:12 2170-03-22 11:44:34   45.55                   NaN                NaN
39             55   190665 2136-04-03 18:35:36 2136-04-05 16:31:29   64.16                   NaN                NaN
40             56   181711 2104-01-02 02:02:39 2104-01-03 22:25:29  300.00            141.955833                NaN
41             59   104130 2197-11-14 17:07:48 2197-11-16 21:58:12   87.09           7086.870000                NaN
42             61   176332 2118-07-11 23:55:57 2118-07-14 13:21:01   54.72           4944.067500                NaN
43             61   189535 2119-01-20 15:58:00 2119-01-22 16:11:10   55.25            320.033333              190.0
44             62   116009 2113-02-15 00:20:44 2113-02-17 20:09:46   68.77                   NaN                NaN
45             63   195961 2169-01-07 01:52:56 2169-01-07 14:25:27   88.50                   NaN                NaN
46             64   172056 2143-03-03 09:26:21 2143-03-05 17:14:25   26.68                   NaN                NaN
47             65   143430 2132-08-10 07:13:42 2132-08-13 15:03:07   26.56                   NaN                NaN
48             67   186474 2155-02-25 22:04:00 2155-02-27 15:45:00   70.72          24241.933333                NaN
49             68   170467 2173-12-16 02:58:16 2173-12-19 15:51:16   41.80           1365.028889                NaN
50             71   111944 2164-02-03 22:07:49 2164-02-06 18:47:31   36.50                   NaN                NaN
51             73   194730 2170-12-22 00:14:07 2170-12-24 16:32:28   57.59                   NaN                NaN
52             75   112086 2147-04-05 10:35:50 2147-04-06 16:31:18   76.77                   NaN                NaN
53             77   142768 2164-11-18 07:06:12 2164-11-19 10:58:44   45.52                   NaN                NaN
54             78   100536 2177-02-14 04:10:26 2177-02-15 15:54:43   48.63          25987.826111                NaN
55             79   181542 2175-09-26 01:00:46 2175-09-28 03:00:09   52.29                   NaN                NaN
56             80   115385 2148-11-11 12:13:00 2148-11-12 16:46:47   43.91                   NaN                NaN
57             81   175016 2192-01-09 18:50:47 2192-01-11 07:10:34   85.06             53.153611                NaN
58             83   158569 2142-04-03 10:33:32 2142-04-05 18:05:53   65.55           5533.441111                NaN
59             85   116630 2162-03-03 13:03:47 2162-03-05 18:42:39   71.45          48442.936944                NaN
60             85   112077 2167-07-25 18:50:37 2167-07-27 18:37:35   76.85           1157.156389             1968.0
61             86   190243 2146-04-06 11:51:54 2146-04-07 10:27:02   45.26                   NaN                NaN
62             88   123010 2111-08-29 03:04:42 2111-08-30 21:08:09   28.66                   NaN                NaN
63             91   121205 2177-04-27 02:08:00 2177-04-27 14:03:00   81.58            309.866667                NaN
64             94   183686 2176-02-25 16:50:03 2176-02-26 19:11:57   74.43          21679.165833                NaN
65             94   140037 2176-09-02 16:27:46 2176-09-25 14:00:30   74.95          17119.537222              188.0
66             95   160891 2157-12-25 16:29:37 2157-12-26 10:12:30   44.16                   NaN                NaN
67             96   170324 2156-03-31 16:11:34 2156-04-20 16:53:09   38.50                   NaN                NaN
68             97   127870 2105-04-30 08:37:39 2105-05-04 20:05:55   73.39                   NaN                NaN
69             98   188606 2137-04-02 15:15:39 2137-04-04 21:06:16   40.45                   NaN                NaN
70             99   187373 2184-07-30 09:34:46 2184-08-01 18:41:04   73.32                   NaN                NaN
71            100   153952 2157-08-10 12:16:00 2157-08-12 15:04:00   71.94                   NaN                NaN
72            101   175533 2196-09-26 18:37:40 2196-10-06 16:01:56   82.18            365.372222                NaN
73            103   130744 2144-08-12 17:37:47 2144-08-15 18:11:52   60.33            462.370278                NaN
74            105   161160 2189-01-28 16:59:55 2189-02-02 16:55:17   35.34           9175.001389                NaN
75            106   145167 2192-08-09 18:35:44 2192-08-15 22:33:57   28.36            125.404444                NaN
76            107   191941 2115-02-20 17:42:27 2115-02-21 18:09:14   62.88                   NaN                NaN
77            107   182383 2121-11-30 19:24:56 2121-12-01 21:20:57   69.66                   NaN             2474.0
78            108   123552 2109-10-28 11:00:00 2109-10-29 12:32:00   71.90                   NaN                NaN
79            109   183350 2137-11-04 19:37:58 2137-11-05 17:04:39   20.24          42220.367222                NaN
80            109   164029 2140-01-19 13:25:51 2140-01-21 13:20:11   22.45          22882.569167              639.0
81            109   166018 2141-03-27 21:08:34 2141-03-28 18:05:01   23.64          12482.857222              207.0
82            111   192123 2142-04-24 06:56:33 2142-05-04 20:38:33   66.77          19169.057500                NaN
83            112   174105 2194-06-13 18:41:27 2194-06-14 14:51:17  300.00          20117.309167                NaN
84            113   109976 2140-12-12 22:48:08 2140-12-13 17:42:46   35.84                   NaN                NaN
85            114   178393 2146-08-29 17:59:00 2146-08-31 13:30:00   48.30                   NaN                NaN
86            115   114585 2194-10-17 13:22:28 2194-10-24 16:26:47   75.74           3778.625556                NaN
87            117   140784 2133-04-08 17:20:33 2133-04-10 01:02:01   49.28           5670.657500                NaN
88            117   164853 2133-11-18 13:24:19 2133-12-01 18:08:50   49.89            298.594722              222.0
89            119   135738 2159-09-12 18:05:00 2159-09-13 16:00:00   26.90                   NaN                NaN
90            123   195632 2161-10-29 02:27:41 2161-10-30 14:19:12   56.16                   NaN                NaN
91            124   172461 2160-07-09 19:47:26 2160-07-13 17:40:30   69.64          48772.209444                NaN
92            124   112906 2161-12-17 11:35:34 2161-12-24 16:08:42   71.08          36156.407222              521.0
93            124   134369 2165-05-30 08:59:04 2165-05-31 17:03:12   74.53           5919.015556             1252.0
94            124   138376 2166-01-09 13:05:18 2166-02-01 10:52:09   75.14            538.911667              222.0
95            125   157348 2179-02-16 09:36:46 2179-02-17 15:05:13   50.97                   NaN                NaN
96            127   141647 2183-08-20 17:27:21 2183-08-24 15:28:26   48.55           4446.544167                NaN
97            129   164174 2157-03-27 08:46:58 2157-03-28 17:53:35   36.54                   NaN                NaN
98            130   198214 2119-10-30 19:16:14 2119-11-03 10:38:23   61.41           4012.729444                NaN
99            132   160192 2115-05-06 21:53:00 2115-05-22 18:43:00   56.20                   NaN                NaN
...           ...      ...                 ...                 ...     ...                   ...                ...
42111       99629   107034 2197-12-08 10:09:46 2197-12-11 18:13:36   84.64                   NaN                NaN
42112       99633   110078 2127-08-01 16:46:51 2127-08-02 22:26:02   46.57                   NaN                NaN
42113       99635   160716 2144-03-26 16:40:53 2144-03-27 17:56:39  300.00             79.318611                NaN
42114       99637   198033 2116-05-18 09:12:32 2116-05-21 13:34:58   61.51                   NaN                NaN
42115       99645   152926 2151-05-05 15:07:25 2151-05-07 15:14:10   78.90                   NaN                NaN
42116       99647   192055 2147-11-24 14:18:03 2147-11-28 15:55:36   41.33                   NaN                NaN
42117       99650   158023 2155-01-02 23:34:29 2155-01-06 17:26:44   53.48                   NaN                NaN
42118       99650   199859 2156-12-25 06:53:16 2156-12-27 16:07:39   55.46                   NaN              718.0
42119       99657   110313 2118-07-07 09:23:27 2118-07-08 12:51:38   63.41                   NaN                NaN
42120       99659   175506 2146-01-21 09:32:36 2146-01-23 10:55:42   31.59                   NaN                NaN
42121       99660   168541 2142-04-25 12:05:43 2142-04-26 16:59:04   75.17                   NaN                NaN
42122       99660   189028 2144-05-17 18:53:07 2144-05-19 17:15:16   77.23                   NaN              752.0
42123       99661   177077 2160-05-11 23:46:59 2160-05-12 18:22:37   43.29                   NaN                NaN
42124       99666   128787 2171-07-24 16:39:27 2171-08-03 01:11:13   87.60           1615.342500                NaN
42125       99669   162441 2171-05-08 15:31:23 2171-05-12 11:53:19   70.82                   NaN                NaN
42126       99674   101645 2105-06-12 19:46:19 2105-06-14 23:40:01   87.41                   NaN                NaN
42127       99685   104582 2123-08-21 17:41:07 2123-08-22 17:19:56   47.39                   NaN                NaN
42128       99691   140367 2139-09-02 23:15:58 2139-09-05 16:42:44   49.81                   NaN                NaN
42129       99693   171735 2117-02-26 16:35:20 2117-03-02 16:05:21   50.42                   NaN                NaN
42130       99707   132573 2132-02-11 10:56:06 2132-02-12 11:42:12   88.76            349.065000                NaN
42131       99708   183397 2133-06-25 19:35:27 2133-06-27 15:38:26   68.90                   NaN                NaN
42132       99712   194361 2159-03-30 10:50:49 2159-03-31 16:45:03   52.36                   NaN                NaN
42133       99712   159835 2161-10-06 00:35:38 2161-10-08 17:26:15   54.88                   NaN              919.0
42134       99714   176601 2125-06-09 15:32:48 2125-06-13 15:59:45   81.51                   NaN                NaN
42135       99715   157586 2150-10-04 16:02:28 2150-11-14 18:14:12   78.97            991.958889                NaN
42136       99721   166309 2124-06-21 17:52:48 2124-06-23 14:19:52   64.19                   NaN                NaN
42137       99726   186684 2200-11-24 00:47:00 2200-11-26 16:16:28   61.03             47.216667                NaN
42138       99740   161687 2135-05-09 05:22:41 2135-05-17 18:20:09   51.31            186.621944                NaN
42139       99747   136052 2103-11-23 19:33:54 2103-11-27 20:31:23   80.16           7900.435000                NaN
42140       99752   187858 2138-07-15 14:06:02 2138-07-18 18:16:11   63.89                   NaN                NaN
42141       99756   154665 2191-06-15 17:54:36 2191-06-16 18:27:16   51.44           4566.090000                NaN
42142       99759   157932 2161-03-10 09:43:03 2161-03-11 16:52:32   81.55                   NaN                NaN
42143       99762   182472 2157-10-30 21:02:34 2157-11-01 22:11:04   38.77                   NaN                NaN
42144       99768   140641 2122-02-21 01:41:25 2122-02-23 11:14:00   60.62             46.309722                NaN
42145       99776   136231 2171-07-08 04:15:10 2171-07-18 17:15:38   56.43                   NaN                NaN
42146       99777   197851 2167-09-15 10:13:13 2167-09-16 16:59:46   56.47                   NaN                NaN
42147       99781   167791 2133-07-23 17:11:34 2133-07-28 18:58:28   72.06           3414.807222                NaN
42148       99783   174582 2125-09-13 10:00:25 2125-09-14 17:53:36   42.14           1981.993056                NaN
42149       99785   120655 2122-10-07 17:12:07 2122-10-21 22:30:54   72.40                   NaN                NaN
42150       99790   183369 2190-11-11 23:32:11 2190-11-12 17:36:53   65.24                   NaN                NaN
42151       99791   175690 2170-04-10 12:06:02 2170-04-13 15:02:57   61.26                   NaN                NaN
42152       99796   144804 2115-02-12 09:56:20 2115-02-13 17:03:25   62.88                   NaN                NaN
42153       99797   135425 2152-06-23 15:27:48 2152-06-27 21:41:22   57.76           4592.536667                NaN
42154       99802   108099 2109-01-17 19:33:28 2109-01-18 17:23:21   69.35                   NaN                NaN
42155       99806   133851 2107-09-24 03:12:41 2107-09-26 19:58:59   66.45                   NaN                NaN
42156       99809   154672 2166-02-04 12:14:46 2166-02-05 18:10:22   69.92                   NaN                NaN
42157       99810   196261 2109-02-01 20:38:35 2109-02-03 11:59:11   57.69                   NaN                NaN
42158       99814   186518 2142-02-19 17:18:30 2142-02-20 14:47:40   86.59          16854.691667                NaN
42159       99817   195557 2166-10-14 23:18:54 2166-10-17 18:58:57   70.62            864.685000                NaN
42160       99819   126883 2136-03-28 11:05:55 2136-03-30 12:25:19   69.33                   NaN                NaN
42161       99822   146997 2197-05-30 12:23:35 2197-05-31 18:18:42   61.20            923.606944                NaN
42162       99823   179720 2168-09-01 19:32:21 2168-09-03 12:32:52   81.92                   NaN                NaN
42163       99830   176834 2187-08-20 20:46:45 2187-09-04 15:48:21   49.28                   NaN                NaN
42164       99832   192563 2134-01-27 19:28:05 2134-01-28 11:55:33   60.44                   NaN                NaN
42165       99836   101018 2116-05-28 11:09:43 2116-06-02 11:28:03   52.12           1332.838056                NaN
42166       99837   197195 2184-04-05 01:15:29 2184-04-06 17:58:34   25.39                   NaN                NaN
42167       99847   155024 2191-04-12 23:52:16 2191-04-16 17:46:57   75.63           7320.128889                NaN
42168       99849   197873 2189-02-14 14:55:07 2189-02-15 17:52:45   54.62                   NaN                NaN
42169       99862   178839 2171-04-02 23:42:02 2171-04-04 15:58:49   59.10                   NaN                NaN
42170       99863   100749 2142-04-02 22:04:30 2142-05-01 15:36:35   42.69                   NaN                NaN
42171       99864   111512 2128-05-24 03:10:59 2128-05-25 16:37:34   83.20                   NaN                NaN
42172       99865   189346 2184-12-23 14:52:55 2184-12-25 14:41:09   77.50            153.118056                NaN
42173       99868   177777 2142-09-07 06:31:48 2142-09-08 15:47:56   20.44                   NaN                NaN
42174       99870   124555 2166-09-02 12:16:01 2166-09-03 18:34:04   43.59                   NaN                NaN
42175       99872   108939 2137-08-12 19:43:18 2137-08-13 21:19:48   54.56                   NaN                NaN
42176       99873   143544 2103-12-19 18:17:18 2103-12-21 18:24:12   45.61                   NaN                NaN
42177       99880   179507 2162-04-19 09:35:13 2162-04-24 15:18:21   87.91                   NaN                NaN
42178       99881   172327 2174-01-20 14:00:30 2174-01-22 18:36:04   77.76             33.991667                NaN
42179       99883   150755 2131-12-24 17:42:29 2131-12-26 18:27:02   73.88                   NaN                NaN
42180       99883   198523 2132-09-16 10:03:55 2132-09-17 16:40:44   74.61                   NaN              264.0

In [179]:
df_clean.equals(df_old)

False

In [180]:
df_old.count()

subject_id              42211
hadm_id                 42211
intime                  42211
outtime                 42209
age                     42211
diff_death_admit_hrs    17032
diff_last_outtime        4793
dtype: int64

In [181]:
df_clean.count()

subject_id              42211
hadm_id                 42211
intime                  42211
outtime                 42209
age                     42211
diff_death_admit_hrs    17032
diff_last_outtime        4793
dtype: int64

In [182]:
df_old.subtract(df_clean)

       subject_id  hadm_id               intime              outtime   age  diff_death_admit_hrs  diff_last_outtime
0               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
1               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
2               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
3               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
4               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
5               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
6               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
7               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
8               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
9               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
10              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
11              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
12              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
13              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
14              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
15              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
16              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
17              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
18              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
19              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
20              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
21              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
22              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
23              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
24              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
25              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
26              0   -16444   1103 days 20:23:33   1107 days 02:07:17  3.02                   NaN                NaN
27              0    16444 -1104 days +03:36:27 -1108 days +21:52:43 -3.02                   NaN                NaN
28              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
29              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
30              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
31              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
32              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
33              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
34              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
35              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
36              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
37              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
38              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
39              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
40              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
41              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
43              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
44              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
45              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
46              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
47              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
48              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
49              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
50              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
51              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
52              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
53              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
54              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
55              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
56              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
57              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
58              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
59              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
60              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
61              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
62              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
63              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
64              0   -43649    189 days 23:37:43    211 days 18:48:33  0.52          -4559.628611                NaN
65              0    43649  -190 days +00:22:17  -212 days +05:11:27 -0.52           4559.628611                NaN
66              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
67              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
68              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
69              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
70              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
71              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
72              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
73              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
74              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
75              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
76              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
77              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
78              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
79              0   -17332   1239 days 01:30:36   1239 days 01:00:22  3.40         -29737.510000                NaN
80              0    19321  -806 days +06:12:07  -807 days +03:44:28 -2.21          19337.798056                NaN
81              0    -1989  -434 days +16:17:17  -433 days +19:15:10 -1.19          10399.711944              432.0
82              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
83              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
84              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
85              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
86              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
87              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
88              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
89              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
90              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
91              0   -59555    525 days 15:48:08    528 days 22:28:12  1.44         -12615.802222                NaN
92              0    59555  -526 days +08:11:52  -529 days +01:31:48 -1.44          12615.802222                NaN
93              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
94              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
95              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
96              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
97              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
98              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
99              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
...           ...      ...                  ...                  ...   ...                   ...                ...
42111           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42112           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42113           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42114           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42115           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42116           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42117           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42118           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
42119           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42120           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42121           0    20487    753 days 06:47:24    754 days 00:16:12  2.06                   NaN                NaN
42122           0   -20487  -754 days +17:12:36  -755 days +23:43:48 -2.06                   NaN                NaN
42123           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42124           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42125           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42126           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42127           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42128           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42129           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42130           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42131           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42132           0   -34526    920 days 13:44:49    922 days 00:41:12  2.52                   NaN                NaN
42133           0    34526  -921 days +10:15:11  -923 days +23:18:48 -2.52                   NaN                NaN
42134           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42135           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42136           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42137           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42138           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42139           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42140           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42141           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42142           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42143           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42144           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42145           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42146           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42147           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42148           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42149           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42150           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42151           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42152           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42153           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42154           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42155           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42156           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42157           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42158           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42159           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42160           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42161           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42162           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42163           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42164           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42165           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42166           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42167           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42168           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42169           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42170           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42171           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42172           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42173           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42174           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42175           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42176           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42177           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42178           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42179           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42180           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0

In [183]:
df_clean.subtract(df_old)

       subject_id  hadm_id               intime              outtime   age  diff_death_admit_hrs  diff_last_outtime
0               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
1               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
2               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
3               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
4               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
5               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
6               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
7               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
8               0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
9               0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
10              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
11              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
12              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
13              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
14              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
15              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
16              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
17              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
18              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
19              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
20              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
21              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
22              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
23              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
24              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
25              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
26              0    16444 -1104 days +03:36:27 -1108 days +21:52:43 -3.02                   NaN                NaN
27              0   -16444   1103 days 20:23:33   1107 days 02:07:17  3.02                   NaN                NaN
28              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
29              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
30              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
31              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
32              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
33              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
34              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
35              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
36              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
37              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
38              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
39              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
40              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
41              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
43              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
44              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
45              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
46              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
47              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
48              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
49              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
50              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
51              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
52              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
53              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
54              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
55              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
56              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
57              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
58              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
59              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
60              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
61              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
62              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
63              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
64              0    43649  -190 days +00:22:17  -212 days +05:11:27 -0.52           4559.628611                NaN
65              0   -43649    189 days 23:37:43    211 days 18:48:33  0.52          -4559.628611                NaN
66              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
67              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
68              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
69              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
70              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
71              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
72              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
73              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
74              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
75              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
76              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
77              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
78              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
79              0    17332 -1240 days +22:29:24 -1240 days +22:59:38 -3.40          29737.510000                NaN
80              0   -19321    805 days 17:47:53    806 days 20:15:32  2.21         -19337.798056                NaN
81              0     1989    433 days 07:42:43    432 days 04:44:50  1.19         -10399.711944             -432.0
82              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
83              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
84              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
85              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
86              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
87              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
88              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
89              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
90              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
91              0    59555  -526 days +08:11:52  -529 days +01:31:48 -1.44          12615.802222                NaN
92              0   -59555    525 days 15:48:08    528 days 22:28:12  1.44         -12615.802222                NaN
93              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
94              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                0.0
95              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
96              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
97              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
98              0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
99              0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
...           ...      ...                  ...                  ...   ...                   ...                ...
42111           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42112           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42113           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42114           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42115           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42116           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42117           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42118           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0
42119           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42120           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42121           0   -20487  -754 days +17:12:36  -755 days +23:43:48 -2.06                   NaN                NaN
42122           0    20487    753 days 06:47:24    754 days 00:16:12  2.06                   NaN                NaN
42123           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42124           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42125           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42126           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42127           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42128           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42129           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42130           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42131           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42132           0    34526  -921 days +10:15:11  -923 days +23:18:48 -2.52                   NaN                NaN
42133           0   -34526    920 days 13:44:49    922 days 00:41:12  2.52                   NaN                NaN
42134           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42135           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42136           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42137           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42138           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42139           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42140           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42141           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42142           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42143           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42144           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42145           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42146           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42147           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42148           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42149           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42150           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42151           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42152           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42153           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42154           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42155           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42156           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42157           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42158           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42159           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42160           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42161           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42162           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42163           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42164           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42165           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42166           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42167           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42168           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42169           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42170           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42171           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42172           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42173           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42174           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42175           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42176           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42177           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42178           0        0      0 days 00:00:00      0 days 00:00:00  0.00              0.000000                NaN
42179           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                NaN
42180           0        0      0 days 00:00:00      0 days 00:00:00  0.00                   NaN                0.0

# Tutorial

## Step 1: First start with retrieving ‘subject_id’, ‘hadm_id’, ‘icustay_id’, ‘intime’, and ‘outtime’ from the ‘icustays’ table.

In [ ]:

query = query_schema + """
SELECT subject_id
    ,hadm_id
    ,icustay_id
    ,intime
    ,outtime
FROM icustays
"""
df_demo= pd.read_sql_query(query,con)
df_demo

## Step 2: Get patient's age

In [27]:
#get patients age

query = query_schema + """
SELECT ie.subject_id
    , ie.hadm_id
    , ie.icustay_id
    , ie.intime
    , ie.outtime,
    ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) AS age
FROM icustays ie
INNER JOIN patients pat
ON ie.subject_id = pat.subject_id
ORDER BY 1
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  icustay_id              intime             outtime     age
0               2   163353      243653 2138-07-17 21:20:07 2138-07-17 23:32:21    0.00
1               3   145834      211552 2101-10-20 19:10:11 2101-10-26 20:43:09   76.52
2               4   185777      294638 2191-03-16 00:29:31 2191-03-17 16:46:31   47.84
3               5   178980      214757 2103-02-02 06:04:24 2103-02-02 08:06:00    0.00
4               6   107064      228232 2175-05-30 21:30:54 2175-06-03 13:39:54   65.94
5               7   118037      278444 2121-05-23 15:35:29 2121-05-23 22:01:00    0.00
6               7   118037      236754 2121-05-25 03:26:01 2121-05-25 21:10:19    0.01
7               8   159514      262299 2117-11-20 12:36:10 2117-11-21 14:24:55    0.00
8               9   150750      220597 2149-11-09 13:07:02 2149-11-14 20:52:14   41.79
9              10   184167      288409 2103-06-28 11:39:05 2103-07-06 13:51:43    0.00
10             11   194540      229441 2178-04-16 06:19:32 2178-04-17 20:21:05   50.15
11             12   112213      232669 2104-08-08 02:08:17 2104-08-15 17:22:25   72.37
12             13   143045      263738 2167-01-08 18:44:25 2167-01-12 10:43:31   39.86
13             16   103251      240232 2178-02-03 06:38:00 2178-02-03 08:59:00    0.00
14             17   194023      277042 2134-12-27 16:21:48 2134-12-29 18:04:03   47.45
15             17   161087      257980 2135-05-09 14:12:06 2135-05-10 11:18:34   47.82
16             18   188822      298129 2167-10-02 11:20:39 2167-10-03 18:16:05   50.84
17             19   109235      273430 2108-08-05 16:26:09 2108-08-06 23:40:35  300.00
18             20   157681      264490 2183-04-28 15:00:36 2183-04-29 16:13:48   75.88
19             21   109451      217847 2134-09-11 20:50:04 2134-09-17 18:28:32   87.44
20             21   111970      216859 2135-01-30 20:53:34 2135-02-08 05:38:46   87.82
21             22   165315      204798 2196-04-09 12:27:00 2196-04-10 15:54:00   64.93
22             23   152223      227807 2153-09-03 09:38:55 2153-09-04 15:59:11   71.13
23             23   124321      234044 2157-10-21 11:40:38 2157-10-22 16:08:48   75.26
24             24   161859      262236 2139-06-06 16:15:36 2139-06-07 04:33:25   39.02
25             25   129635      203487 2160-11-02 03:16:23 2160-11-05 16:23:27   58.95
26             26   197661      244882 2126-05-07 09:52:30 2126-05-09 13:15:05   72.01
27             27   134931      298615 2191-11-30 22:21:15 2191-12-01 01:28:12    0.00
28             28   162569      225559 2177-09-01 09:32:26 2177-09-02 12:28:42   74.38
29             30   104557      225176 2172-10-14 17:24:00 2172-10-16 13:44:00  300.00
30             31   128652      254478 2108-08-22 23:28:42 2108-08-30 21:59:20   72.26
31             32   175413      295037 2170-04-04 18:46:00 2170-04-12 11:13:00   45.51
32             33   176176      296681 2116-12-23 22:31:53 2116-12-25 11:49:55   82.39
33             34   115799      263086 2186-07-18 18:10:49 2186-07-19 11:27:20  300.00
34             34   144319      290505 2191-02-23 05:25:32 2191-02-24 19:24:10  304.60
35             35   166707      282039 2122-02-10 09:39:59 2122-02-15 18:41:01   69.44
36             36   182104      280987 2131-05-04 10:29:14 2131-05-05 13:07:03   69.71
37             36   122659      211200 2131-05-16 23:18:26 2131-05-23 19:56:11   69.74
38             36   165660      241249 2134-05-12 06:52:47 2134-05-16 15:14:20   72.73
39             37   188670      213503 2183-08-23 12:01:45 2183-08-24 15:22:53   68.93
40             38   185910      248910 2166-08-10 00:29:36 2166-09-04 13:39:23   75.94
41             39   106266      249426 2114-11-29 21:17:00 2114-12-09 15:10:00    0.00
42             41   101757      261027 2133-01-03 06:34:40 2133-01-06 16:01:33   56.64
43             41   101757      237024 2133-01-09 12:18:30 2133-01-12 15:51:03   56.66
44             42   119203      210828 2116-04-26 18:59:35 2116-04-28 16:39:05   61.16
45             43   146828      225852 2186-10-01 23:16:40 2186-10-06 14:16:54   32.77
46             44   181750      291554 2192-11-20 10:42:55 2192-11-24 14:18:50   80.19
47             45   157907      274249 2129-06-10 00:33:00 2129-06-11 16:34:00   42.40
48             46   144073      268016 2133-02-20 18:22:30 2133-02-21 12:49:55   74.00
49             49   190539      249195 2186-11-21 10:33:36 2186-11-22 12:13:33   80.92
50             50   132761      276575 2112-06-23 19:54:59 2112-06-24 01:48:56    0.00
51             51   196010      269653 2128-11-30 12:02:34 2128-11-30 13:06:52    0.00
52             52   190797      261857 2191-01-10 02:12:55 2191-01-11 22:37:31   38.12
53             53   155385      239839 2170-03-20 20:21:12 2170-03-22 11:44:34   45.55
54             54   138795      258743 2191-08-10 16:07:06 2191-08-10 20:47:41    0.00
55             55   190665      262723 2136-04-03 18:35:36 2136-04-05 16:31:29   64.16
56             56   181711      275642 2104-01-02 02:02:39 2104-01-03 22:25:29  300.00
57             57   162774      295811 2141-08-26 00:13:38 2141-08-26 03:09:51    0.00
58             58   177285      219503 2184-09-21 11:52:11 2184-09-21 12:43:57    0.00
59             59   104130      224440 2197-11-14 17:07:48 2197-11-16 21:58:12   87.09
60             60   198892      233741 2146-11-12 15:06:44 2146-11-14 15:03:00    0.00
61             61   176332      252348 2118-07-11 23:55:57 2118-07-14 13:21:01   54.72
62             61   189535      217135 2119-01-20 15:58:00 2119-01-22 16:11:10   55.25
63             62   116009      216609 2113-02-15 00:20:44 2113-02-17 20:09:46   68.77
64             63   195961      244541 2169-01-07 01:52:56 2169-01-07 14:25:27   88.50
65             64   172056      232593 2143-03-03 09:26:21 2143-03-05 17:14:25   26.68
66             65   143430      244776 2132-08-10 07:13:42 2132-08-13 15:03:07   26.56
67             66   104518      283361 2188-08-25 00:24:31 2188-09-04 15:46:34    0.00
68             67   186474      286338 2155-02-25 22:04:00 2155-02-27 15:45:00   70.72
69             67   155252      226216 2157-12-02 00:47:18 2157-12-02 05:56:38   73.49
70             68   170467      294232 2173-12-16 02:58:16 2173-12-19 15:51:16   41.80
71             68   170467      225771 2173-12-31 01:52:46 2173-12-31 21:33:34   41.84
72             68   108329      272667 2174-01-08 13:12:06 2174-01-14 22:45:42   41.86
73             69   190201      224214 2129-03-21 15:50:05 2129-04-09 13:41:23    0.00
74             70   178596      229490 2185-09-04 10:21:31 2185-09-04 16:19:25    0.01
75             71   111944      211832 2164-02-03 22:07:49 2164-02-06 18:47:31   36.50
76             72   156857      239612 2163-09-22 23:59:48 2163-09-29 12:21:37    0.00
77             73   194730      284305 2170-12-22 00:14:07 2170-12-24 16:32:28   57.59
78             74   182637      234057 2180-06-07 19:46:49 2180-06-08 07:09:30    0.00
79             75   112086      281607 2147-04-05 10:35:50 2147-04-06 16:31:18   76.77
80             77   142768      297831 2164-11-18 07:06:12 2164-11-19 10:58:44   45.52
81             78   100536      233150 2177-02-14 04:10:26 2177-02-15 15:54:43   48.63
82             79   181542      290076 2175-09-26 01:00:46 2175-09-28 03:00:09   52.29
83             80   115385      256068 2148-11-11 12:13:00 2148-11-12 16:46:47   43.91
84             81   175016      222874 2192-01-09 18:50:47 2192-01-11 07:10:34   85.06
85             82   110641      293212 2150-06-24 23:36:18 2150-06-25 20:56:47    0.00
86             83   158569      254066 2142-04-03 10:33:32 2142-04-05 18:05:53   65.55
87             84   166401      239661 2196-04-16 23:43:00 2196-04-17 13:42:00   44.49
88             85   116630      209562 2162-03-03 13:03:47 2162-03-05 18:42:39   71.45
89             85   112077      291697 2167-07-25 18:50:37 2167-07-27 18:37:35   76.85
90             86   190243      206222 2146-04-06 11:51:54 2146-04-07 10:27:02   45.26
91             87   190659      277633 2191-02-25 21:09:05 2191-04-25 15:38:56    0.00
92             88   123010      297289 2111-08-29 03:04:42 2111-08-30 21:08:09   28.66
93             89   188646      249786 2185-06-17 05:46:00 2185-06-21 12:00:41    0.00
94             91   121205      218528 2177-04-27 02:08:00 2177-04-27 14:03:00   81.58
95             91   121205      256972 2177-05-07 03:52:00 2177-05-10 15:16:00   81.61
96             92   142807      291001 2122-12-13 19:40:05 2123-03-04 13:47:23    0.00
97             93   160481      242398 2128-03-17 17:15:49 2128-06-17 16:36:14    0.00
98             94   183686      229012 2176-02-25 16:50:03 2176-02-26 19:11:57   74.43
99             94   140037      213450 2176-09-02 16:27:46 2176-09-25 14:00:30   74.95
...           ...      ...         ...                 ...                 ...     ...
61432       99693   171735      274578 2117-02-26 16:35:20 2117-03-02 16:05:21   50.42
61433       99707   132573      258086 2132-02-11 10:56:06 2132-02-12 11:42:12   88.76
61434       99708   183397      279308 2133-06-25 19:35:27 2133-06-27 15:38:26   68.90
61435       99712   194361      285471 2159-03-30 10:50:49 2159-03-31 16:45:03   52.36
61436       99712   159835      227381 2161-10-06 00:35:38 2161-10-08 17:26:15   54.88
61437       99714   176601      206547 2125-06-09 15:32:48 2125-06-13 15:59:45   81.51
61438       99715   157586      271338 2150-10-04 16:02:28 2150-11-14 18:14:12   78.97
61439       99715   157586      224569 2150-11-15 22:05:16 2150-11-16 00:38:39   79.08
61440       99721   166309      246868 2124-06-21 17:52:48 2124-06-23 14:19:52   64.19
61441       99726   186684      299571 2200-11-24 00:47:00 2200-11-26 16:16:28   61.03
61442       99740   161687      269160 2135-05-09 05:22:41 2135-05-17 18:20:09   51.31
61443       99747   136052      252641 2103-11-23 19:33:54 2103-11-27 20:31:23   80.16
61444       99752   187858      226190 2138-07-15 14:06:02 2138-07-18 18:16:11   63.89
61445       99756   154665      288659 2191-06-15 17:54:36 2191-06-16 18:27:16   51.44
61446       99756   145054      287969 2191-08-03 19:12:37 2191-08-04 17:22:55   51.57
61447       99756   172485      295834 2191-12-23 01:05:09 2191-12-23 15:12:01   51.96
61448       99759   157932      216511 2161-03-10 09:43:03 2161-03-11 16:52:32   81.55
61449       99762   182472      228581 2157-10-30 21:02:34 2157-11-01 22:11:04   38.77
61450       99768   140641      276070 2122-02-21 01:41:25 2122-02-23 11:14:00   60.62
61451       99776   136231      262109 2171-07-08 04:15:10 2171-07-18 17:15:38   56.43
61452       99777   197851      213574 2167-09-15 10:13:13 2167-09-16 16:59:46   56.47
61453       99781   167791      239830 2133-07-23 17:11:34 2133-07-28 18:58:28   72.06
61454       99781   147562      200664 2133-08-01 19:20:46 2133-08-03 13:59:56   72.09
61455       99783   174582      263413 2125-09-13 10:00:25 2125-09-14 17:53:36   42.14
61456       99783   126090      236983 2125-11-04 10:32:24 2125-12-05 14:17:10   42.29
61457       99785   120655      267661 2122-10-07 17:12:07 2122-10-21 22:30:54   72.40
61458       99790   183369      290238 2190-11-11 23:32:11 2190-11-12 17:36:53   65.24
61459       99791   175690      281746 2170-04-10 12:06:02 2170-04-13 15:02:57   61.26
61460       99796   144804      285715 2115-02-12 09:56:20 2115-02-13 17:03:25   62.88
61461       99797   135425      225994 2152-06-23 15:27:48 2152-06-27 21:41:22   57.76
61462       99802   108099      271873 2109-01-17 19:33:28 2109-01-18 17:23:21   69.35
61463       99806   133851      248498 2107-09-24 03:12:41 2107-09-26 19:58:59   66.45
61464       99809   154672      214592 2166-02-04 12:14:46 2166-02-05 18:10:22   69.92
61465       99810   196261      272409 2109-02-01 20:38:35 2109-02-03 11:59:11   57.69
61466       99814   186518      243902 2142-02-19 17:18:30 2142-02-20 14:47:40   86.59
61467       99817   195557      297406 2166-10-14 23:18:54 2166-10-17 18:58:57   70.62
61468       99817   195557      254019 2166-10-24 21:30:09 2166-10-27 13:04:56   70.65
61469       99817   195557      245915 2166-11-07 21:48:41 2166-11-12 18:47:04   70.69
61470       99817   195557      263780 2166-11-20 03:02:50 2166-11-21 01:26:07   70.73
61471       99819   126883      214366 2136-03-28 11:05:55 2136-03-30 12:25:19   69.33
61472       99822   146997      272157 2197-05-30 12:23:35 2197-05-31 18:18:42   61.20
61473       99822   163117      220334 2197-06-16 03:47:14 2197-06-18 16:53:04   61.25
61474       99822   195871      297672 2197-07-04 14:15:08 2197-07-08 16:52:12   61.30
61475       99823   179720      296047 2168-09-01 19:32:21 2168-09-03 12:32:52   81.92
61476       99830   176834      211489 2187-08-20 20:46:45 2187-09-04 15:48:21   49.28
61477       99832   192563      200899 2134-01-27 19:28:05 2134-01-28 11:55:33   60.44
61478       99836   101018      245746 2116-05-28 11:09:43 2116-06-02 11:28:03   52.12
61479       99836   101018      200347 2116-06-05 15:09:08 2116-06-21 17:48:02   52.14
61480       99836   101018      240303 2116-06-25 22:28:30 2116-07-15 18:56:37   52.20
61481       99837   197195      253877 2184-04-05 01:15:29 2184-04-06 17:58:34   25.39
61482       99847   155024      219261 2191-04-12 23:52:16 2191-04-16 17:46:57   75.63
61483       99849   197873      259176 2189-02-14 14:55:07 2189-02-15 17:52:45   54.62
61484       99862   178839      253685 2171-04-02 23:42:02 2171-04-04 15:58:49   59.10
61485       99863   100749      216757 2142-04-02 22:04:30 2142-05-01 15:36:35   42.69
61486       99864   111512      234084 2128-05-24 03:10:59 2128-05-25 16:37:34   83.20
61487       99865   189346      284772 2184-12-23 14:52:55 2184-12-25 14:41:09   77.50
61488       99865   189346      259297 2184-12-30 07:14:22 2184-12-31 02:56:46   77.52
61489       99868   177777      231346 2142-09-07 06:31:48 2142-09-08 15:47:56   20.44
61490       99870   124555      220524 2166-09-02 12:16:01 2166-09-03 18:34:04   43.59
61491       99872   108939      228651 2137-08-12 19:43:18 2137-08-13 21:19:48   54.56
61492       99873   143544      206270 2103-12-19 18:17:18 2103-12-21 18:24:12   45.61
61493       99880   179507      215004 2162-04-19 09:35:13 2162-04-24 15:18:21   87.91
61494       99881   172327      214377 2174-01-20 14:00:30 2174-01-22 18:36:04   77.76
61495       99883   150755      276467 2131-12-24 17:42:29 2131-12-26 18:27:02   73.88
61496       99883   198523      293088 2132-09-16 10:03:55 2132-09-17 16:40:44   74.61
61497       99893   128349      208873 2193-03-31 21:09:45 2193-04-03 00:08:20   88.55
61498       99894   127380      204236 2129-07-04 23:40:40 2129-07-08 16:47:54   60.00
61499       99897   162913      266801 2181-08-06 02:22:50 2181-08-07 17:00:47   53.55
61500       99897   181057      298720 2182-07-03 19:50:57 2182-07-04 15:52:13   54.46
61501       99899   188409      245756 2113-06-04 15:56:39 2113-06-13 19:23:51   86.96
61502       99901   131711      226541 2173-01-12 14:13:27 2173-01-18 17:12:16   68.84
61503       99903   135939      291066 2146-01-06 19:46:39 2146-01-07 20:42:30   50.11
61504       99912   189380      236183 2153-04-13 16:05:43 2153-04-25 18:10:37   84.54
61505       99913   175989      292375 2141-05-12 11:42:20 2141-05-15 15:42:40   71.10
61506       99922   123563      259919 2107-04-07 10:52:03 2107-04-08 10:55:22   69.28
61507       99923   164914      202505 2201-02-23 20:43:12 2201-02-24 14:42:49   54.39
61508       99923   192053      298857 2201-05-16 06:06:34 2201-05-18 11:45:27   54.61
61509       99928   104802      236704 2181-11-16 16:24:04 2181-11-17 16:09:58   20.87
61510       99934   176121      291007 2110-02-28 03:47:56 2110-03-03 16:58:23   17.95
61511       99935   174624      255381 2139-12-15 09:15:19 2139-12-16 01:05:28   75.57
61512       99936   107913      213906 2182-10-10 18:50:51 2182-10-14 14:29:32  300.00
61513       99937   129380      291004 2128-05-11 15:17:31 2128-05-12 19:39:00   65.68
61514       99938   103815      296707 2200-10-27 10:48:30 2200-11-03 17:33:37   80.85
61515       99939   159023      252442 2110-03-22 04:05:55 2110-03-25 01:10:10   26.95
61516       99944   185654      221067 2161-02-16 20:15:35 2161-02-20 21:33:35   85.48
61517       99946   157197      298613 2161-07-14 20:30:56 2161-07-15 15:41:44   49.67
61518       99955   108494      243255 2139-07-14 02:32:21 2139-07-19 18:39:56   63.19
61519       99957   148574      257127 2157-02-20 22:56:51 2157-02-23 19:47:19   68.05
61520       99965   101083      257338 2191-07-13 19:40:34 2191-07-15 13:06:19   66.29
61521       99966   167228      252173 2191-08-23 23:17:44 2191-08-25 16:10:37   77.49
61522       99973   150202      275083 2180-11-27 02:30:43 2180-11-29 20:04:42   65.50
61523       99982   151454      221194 2156-11-28 11:57:12 2156-12-06 10:44:08   65.16
61524       99982   112748      275958 2157-01-06 16:07:09 2157-01-11 14:44:39   65.26
61525       99982   183791      239827 2157-02-16 17:32:13 2157-02-22 21:37:10   65.38
61526       99983   117390      286606 2193-04-26 11:35:51 2193-04-27 12:33:22   78.58
61527       99985   176670      279638 2181-01-29 05:33:34 2181-02-09 12:45:20   53.81
61528       99991   151118      226241 2184-12-28 17:30:58 2184-12-31 20:56:20   47.73
61529       99992   197084      242052 2144-07-25 18:04:42 2144-07-27 17:27:55   65.77
61530       99995   137810      229633 2147-02-08 13:53:58 2147-02-10 17:46:30   88.70
61531       99999   113369      246512 2117-12-31 11:52:36 2118-01-01 14:51:27   63.98

[61532 rows x 6 columns]

## Step 3: Seperate neonates from others

In [31]:
#get patients age

query = query_schema + """
SELECT ie.subject_id
    , ie.hadm_id
    , ie.icustay_id
    , ie.intime
    , ie.outtime,
    CASE
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 1
            THEN 'neonate'
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 14
            THEN 'middle'
        -- all ages > 89 in the database were replaced with 300
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) > 100
            then '>89'
        ELSE 'adult'
        END AS ICUSTAY_AGE_GROUP
FROM icustays ie
INNER JOIN patients pat
ON ie.subject_id = pat.subject_id;
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  icustay_id              intime             outtime icustay_age_group
0             268   110404      280836 2198-02-14 23:27:38 2198-02-18 05:26:11             adult
1             269   106296      206613 2170-11-05 11:05:29 2170-11-08 17:46:57             adult
2             270   188028      220345 2128-06-24 15:05:20 2128-06-27 12:32:29             adult
3             271   173727      249196 2120-08-07 23:12:42 2120-08-10 00:39:04             adult
4             272   164716      210407 2186-12-25 21:08:04 2186-12-27 12:01:13             adult
5             273   158689      241507 2141-04-19 06:12:05 2141-04-20 17:52:11             adult
6             274   130546      254851 2114-06-28 22:28:44 2114-07-07 18:01:16             adult
7             275   129886      219649 2170-10-07 11:28:53 2170-10-14 14:38:07             adult
8             276   135156      206327 2147-11-20 09:02:23 2147-11-21 17:08:52             adult
9             277   171601      272866 2132-10-21 21:11:46 2132-10-22 14:44:48           neonate
10            279   192224      204407 2164-06-14 21:18:27 2164-06-18 22:53:12             adult
11            280   123506      247496 2155-12-08 18:22:09 2155-12-22 17:10:45           neonate
12            281   111199      257572 2101-10-18 04:45:22 2101-10-25 22:29:25             adult
13            282   119013      293262 2175-02-02 17:01:10 2175-02-03 13:27:58             adult
14            283   109185      231490 2166-08-12 22:03:26 2166-09-12 14:41:42             adult
15            283   144156      280531 2166-10-02 15:38:43 2166-10-07 13:22:00             adult
16            284   112354      223593 2149-11-29 15:39:34 2149-11-30 17:18:14             adult
17            285   165312      238023 2152-09-21 22:48:50 2152-10-20 15:19:31             adult
18            286   106909      260225 2175-12-31 22:57:27 2176-02-24 19:16:58             adult
19            286   135917      240627 2176-04-10 20:46:09 2176-04-12 16:42:47             adult
20            287   174293      270957 2167-05-22 16:13:33 2167-05-25 16:04:56             adult
21            287   175954      245343 2167-05-31 13:23:41 2167-06-03 17:47:16             adult
22            288   110921      216651 2191-05-19 12:47:10 2191-05-27 15:15:03           neonate
23            290   138303      278519 2179-01-26 19:27:19 2179-01-31 11:37:31             adult
24            291   113649      256641 2102-04-08 23:05:28 2102-04-09 11:20:11             adult
25            291   125726      275109 2106-04-17 12:26:17 2106-04-18 22:05:39             adult
26            291   126219      246725 2107-09-13 22:43:01 2107-09-14 18:34:48             adult
27            292   179726      222505 2103-09-27 18:29:30 2103-09-28 15:44:31             adult
28            293   125963      263651 2125-02-09 10:35:19 2125-02-10 11:57:22             adult
29            294   152578      222074 2118-01-17 21:45:05 2118-01-20 11:12:45             adult
30            295   192988      274998 2176-03-06 18:55:24 2176-03-07 16:39:33             adult
31            296   159503      273199 2191-03-01 21:31:00 2191-03-02 18:12:00             adult
32            297   107224      203620 2135-10-05 14:55:47 2135-10-05 17:05:59           neonate
33            298   119446      225523 2140-08-07 00:33:57 2140-08-09 06:46:53             adult
34            299   195143      204434 2176-07-01 19:09:04 2176-07-01 20:21:13           neonate
35            300   142952      208862 2131-10-17 00:14:23 2131-10-17 05:34:05           neonate
36            301   160332      288401 2189-11-11 12:12:33 2189-11-13 22:11:28             adult
37            302   191028      249750 2133-03-29 02:34:11 2133-03-30 22:50:35             adult
38            303   175574      271668 2160-03-17 18:58:00 2160-03-18 21:10:00             adult
39            303   103013      261797 2163-03-29 23:05:05 2163-04-01 17:41:54             adult
40            304   177469      295659 2141-05-18 17:22:10 2141-05-19 05:40:47               >89
41            305   133059      232719 2125-04-27 18:47:43 2125-05-01 16:50:19             adult
42            305   108015      297009 2126-01-02 11:28:23 2126-01-07 10:07:29             adult
43            305   122211      224571 2127-06-19 23:50:45 2127-06-20 18:51:59             adult
44            305   122211      232248 2127-07-03 20:02:34 2127-07-09 15:31:36             adult
45            305   194340      217232 2129-09-03 12:31:31 2129-09-05 23:00:50             adult
46            306   167129      291141 2199-09-15 19:59:56 2199-09-18 14:45:17             adult
47            307   132807      265862 2162-11-27 22:46:16 2162-12-03 20:41:29             adult
48            307   161712      248439 2164-01-02 14:20:13 2164-01-03 15:48:49             adult
49            308   166606      283522 2135-09-04 12:54:00 2135-09-30 16:35:00             adult
50            309   162308      211035 2160-06-04 09:45:55 2160-06-05 19:03:42             adult
51            310   142159      269885 2139-05-06 23:58:15 2139-05-08 15:29:07             adult
52            312   166526      290299 2130-06-14 13:17:24 2130-06-14 14:10:47           neonate
53            313   199765      261824 2139-07-26 16:46:02 2139-07-31 21:01:04             adult
54            314   155540      261257 2181-09-18 01:11:50 2181-09-22 21:15:26             adult
55            315   152144      266988 2177-04-29 08:04:53 2177-05-04 16:12:34             adult
56            316   110748      276876 2134-11-03 16:56:24 2134-11-05 23:16:15           neonate
57            317   173307      266184 2113-10-24 12:16:50 2113-10-27 14:57:47             adult
58            318   193264      225173 2129-06-07 08:50:00 2129-06-13 10:45:00             adult
59            319   124954      281554 2156-08-12 14:01:56 2156-08-14 22:21:43             adult
60            320   172849      221205 2145-10-09 09:50:48 2145-10-09 20:39:48             adult
61            321   199004      240147 2189-06-12 22:26:00 2189-06-14 23:11:00             adult
62            321   192097      254444 2190-03-03 19:52:58 2190-03-05 16:05:35             adult
63            322   177634      217128 2135-05-02 14:46:48 2135-05-04 20:23:20             adult
64            323   192631      282555 2115-05-20 10:41:00 2115-05-23 14:21:00             adult
65            323   106158      249949 2116-05-04 05:30:00 2116-05-08 15:52:00             adult
66            323   128132      206073 2119-09-21 20:34:57 2119-10-03 20:34:48             adult
67            323   143334      264375 2120-01-11 15:48:28 2120-01-14 16:24:43             adult
68            324   146127      285067 2199-10-16 01:39:08 2199-10-16 17:19:07             adult
69            325   155989      221000 2190-01-05 20:28:18 2190-01-08 18:08:28             adult
70            326   188926      281585 2118-11-01 21:46:42 2118-11-05 14:16:59             adult
71            327   146750      272596 2194-04-28 18:27:15 2194-04-29 15:53:30             adult
72            328   146586      294224 2149-10-31 14:45:41 2149-11-05 14:56:51             adult
73            328   121438      211849 2149-12-19 02:35:43 2149-12-21 13:16:10             adult
74            329   172132      217001 2154-04-05 16:36:51 2154-04-08 18:14:48             adult
75            330   197569      297996 2133-02-27 17:16:41 2133-03-09 16:57:21             adult
76            331   159710      296409 2166-04-16 03:27:05 2166-04-16 20:10:04           neonate
77            332   128404      287595 2178-02-16 01:56:51 2178-02-16 09:00:03           neonate
78            333   160548      243350 2137-09-29 06:03:25 2137-10-01 14:15:47             adult
79            334   104852      214236 2136-01-16 10:56:48 2136-01-30 18:18:06           neonate
80            335   110777      278926 2195-03-24 15:26:03 2195-03-26 14:44:47             adult
81            336   166434      271066 2111-09-10 02:43:57 2111-09-10 03:46:15           neonate
82            337   181797      256167 2126-10-20 06:00:13 2126-10-20 09:44:46           neonate
83            338   194592      217990 2135-10-27 19:13:27 2135-10-28 22:40:41             adult
84            339   112625      221278 2187-04-20 23:10:50 2187-05-22 16:01:27             adult
85            339   183291      267031 2187-08-07 12:45:34 2187-08-09 01:07:34             adult
86            339   107660      255582 2188-04-10 07:08:33 2188-04-15 14:22:00             adult
87            340   139131      279117 2182-01-19 18:14:01 2182-02-05 20:35:33             adult
88            341   149955      271894 2178-10-03 18:23:46 2178-10-03 21:04:52           neonate
89            342   193432      203303 2171-08-20 11:28:54 2171-08-22 17:20:01             adult
90            344   176203      238865 2154-11-12 20:54:09 2154-11-16 08:30:30             adult
91            345   169339      260258 2169-05-21 22:04:56 2169-05-25 17:34:03               >89
92            346   186516      258237 2148-11-30 19:16:19 2148-12-05 18:30:53             adult
93            346   195392      260798 2149-11-29 20:39:09 2149-12-04 17:09:36             adult
94            347   119310      268893 2118-05-23 10:56:34 2118-05-26 15:51:05             adult
95            348   130789      259918 2154-12-13 17:23:19 2154-12-14 14:09:18             adult
96            349   120112      206585 2198-11-19 17:18:48 2198-11-19 18:58:22           neonate
97            350   110323      268624 2101-02-25 09:39:50 2101-02-28 10:35:55             adult
98            351   174800      281750 2171-07-17 17:41:00 2171-07-21 14:19:00             adult
99            352   121050      295983 2144-05-17 15:48:37 2144-05-18 15:02:05             adult
...           ...      ...         ...                 ...                 ...               ...
61432       90700   155233      274425 2126-12-03 13:09:32 2126-12-04 12:36:59             adult
61433       91881   184208      236973 2132-10-02 03:08:33 2132-10-05 16:50:41             adult
61434       91883   155760      207077 2101-04-10 18:10:35 2101-04-12 17:43:31             adult
61435       91883   155760      230327 2101-04-13 18:33:18 2101-04-17 12:22:38             adult
61436       91886   110191      205694 2151-02-19 17:05:00 2151-02-20 18:46:14             adult
61437       91887   164041      282472 2199-02-01 18:36:11 2199-02-02 15:18:53             adult
61438       91904   178866      258717 2170-12-01 15:43:11 2170-12-03 17:44:25             adult
61439       91905   106673      264800 2159-05-14 01:03:07 2159-05-14 16:52:23             adult
61440       91907   136423      236031 2183-04-15 12:27:21 2183-04-20 15:28:34             adult
61441       91910   129743      276918 2136-08-03 19:34:08 2136-08-07 22:30:46             adult
61442       91913   121738      293377 2105-04-07 14:50:13 2105-04-12 17:43:40             adult
61443       91915   185258      281382 2128-09-08 03:18:03 2128-09-09 22:06:05               >89
61444       91916   166205      261005 2161-11-06 16:01:34 2161-11-07 00:56:09             adult
61445       91919   193816      261905 2144-01-07 13:18:20 2144-01-08 12:35:13             adult
61446       91925   121865      222480 2168-07-20 16:00:21 2168-07-24 18:12:45             adult
61447       91926   128362      281453 2104-05-04 02:25:11 2104-05-09 16:10:42               >89
61448       91926   128362      294925 2104-05-20 10:32:23 2104-05-23 16:36:31               >89
61449       91929   100463      298114 2109-07-29 06:50:26 2109-07-30 17:14:30             adult
61450       91934   196304      200408 2147-06-23 19:00:56 2147-06-26 12:22:48             adult
61451       91934   128156      252105 2147-08-07 15:10:07 2147-08-31 14:53:05             adult
61452       91934   155290      223146 2147-09-03 21:36:54 2147-09-14 15:52:18             adult
61453       91939   149837      290796 2137-11-21 22:57:22 2137-11-22 19:04:24             adult
61454       91946   102774      225615 2154-04-04 05:05:08 2154-04-19 16:28:00             adult
61455       91948   188369      269804 2147-12-11 21:18:42 2147-12-15 15:23:27             adult
61456       91950   133967      223097 2159-05-29 00:29:28 2159-05-31 08:09:21             adult
61457       91951   106173      246330 2185-05-31 23:44:05 2185-06-01 22:04:04             adult
61458       91954   162776      270203 2190-01-31 00:26:41 2190-02-02 20:38:58               >89
61459       91955   152659      258661 2138-05-05 18:19:51 2138-05-06 17:49:11             adult
61460       91960   169976      278377 2104-01-10 07:20:06 2104-01-11 12:39:03             adult
61461       91965   156822      235166 2165-09-30 10:39:10 2165-10-02 10:57:28             adult
61462       91975   136078      290720 2113-10-06 10:51:51 2113-10-08 18:41:33             adult
61463       91978   113913      215496 2119-10-28 16:16:38 2119-10-31 06:48:16             adult
61464       91983   137830      227195 2118-10-03 10:27:00 2118-10-04 21:26:23             adult
61465       91989   186557      257278 2161-07-31 21:29:15 2161-08-03 17:20:58             adult
61466       91992   195276      250892 2120-03-18 07:47:12 2120-03-20 20:54:48             adult
61467       91995   132071      252693 2193-01-09 16:51:29 2193-01-10 20:25:57             adult
61468       91995   135839      249047 2193-06-26 13:43:00 2193-06-28 15:14:42             adult
61469       91996   176599      249134 2136-07-27 04:13:01 2136-07-31 00:19:47             adult
61470       92001   150299      212737 2191-09-25 05:09:30 2191-09-25 14:29:40             adult
61471       92002   129029      207246 2153-05-01 18:12:49 2153-05-03 17:35:32             adult
61472       92003   193800      278536 2147-12-18 11:46:18 2147-12-19 13:10:45             adult
61473       92005   114220      291611 2140-05-18 14:52:39 2140-05-19 13:36:11               >89
61474       92007   142248      233262 2104-03-05 10:56:34 2104-03-07 12:12:52             adult
61475       92013   128060      244395 2134-08-16 04:30:07 2134-08-17 17:45:01             adult
61476       92014   132218      222504 2179-04-15 11:06:53 2179-04-16 17:38:17             adult
61477       92025   160456      212557 2142-07-16 18:18:21 2142-07-18 18:37:12               >89
61478       92027   181411      278846 2166-11-25 12:53:41 2166-11-26 11:37:08             adult
61479       92036   106094      283088 2198-05-04 16:25:05 2198-05-06 20:37:54             adult
61480       92041   156273      285416 2188-10-19 21:35:10 2188-10-22 13:49:41             adult
61481       92050   156700      216907 2150-10-31 13:01:06 2150-11-01 19:59:13             adult
61482       92052   127953      210035 2153-11-10 20:24:44 2153-11-11 22:59:18             adult
61483       92055   112509      223987 2121-03-28 11:28:39 2121-03-29 15:27:31             adult
61484       94821   196738      253794 2196-02-17 19:18:31 2196-02-21 18:00:52             adult
61485       94824   161774      246126 2181-06-02 18:01:08 2181-06-03 18:20:14             adult
61486       94828   132498      200958 2101-12-30 12:46:00 2102-01-01 14:58:00             adult
61487       94828   158150      256694 2112-02-23 09:38:29 2112-02-29 21:03:08             adult
61488       94828   150832      239803 2112-08-09 18:35:41 2112-08-10 21:31:08             adult
61489       94828   150832      212410 2112-08-12 15:01:24 2112-08-16 20:44:18             adult
61490       94828   116543      240638 2112-10-10 20:11:24 2112-10-13 20:36:42             adult
61491       94837   166940      237826 2133-06-29 18:31:49 2133-07-01 14:56:18             adult
61492       94838   140463      283804 2133-10-17 22:09:35 2133-10-22 15:47:56             adult
61493       94840   180494      225737 2146-06-27 09:40:15 2146-06-28 15:34:48             adult
61494       94846   133042      257969 2171-08-04 09:34:14 2171-08-17 04:53:28             adult
61495       94847   162559      259510 2112-02-12 19:57:59 2112-02-13 18:54:32             adult
61496       94853   199642      281231 2151-11-26 17:01:33 2151-11-27 16:56:38             adult
61497       94853   197339      272288 2152-07-08 13:04:55 2152-07-09 20:58:34             adult
61498       94863   111249      212254 2176-09-04 15:24:47 2176-09-06 15:18:59             adult
61499       94864   168788      288166 2179-12-10 20:15:49 2179-12-18 20:51:40             adult
61500       94869   159145      277187 2179-08-02 23:03:22 2179-08-03 13:29:45             adult
61501       94872   123622      225041 2110-08-11 17:19:30 2110-08-14 18:08:32             adult
61502       94872   136192      271300 2110-09-22 21:44:13 2110-09-23 18:59:27             adult
61503       94874   157654      293940 2133-03-05 14:59:02 2133-03-06 17:24:24             adult
61504       94879   174780      214785 2159-10-22 18:53:37 2159-10-23 05:06:30               >89
61505       94886   174748      253808 2125-06-20 19:55:03 2125-06-21 20:10:37             adult
61506       94889   147635      207543 2124-10-21 22:56:38 2124-10-27 17:35:23             adult
61507       94889   147635      252338 2124-11-22 21:55:59 2124-11-24 18:04:42             adult
61508       94896   167802      242378 2200-02-26 18:40:12 2200-02-27 12:16:19             adult
61509       94897   105625      269229 2112-10-28 19:56:40 2112-11-10 10:32:48             adult
61510       94903   132953      284226 2181-06-27 10:54:46 2181-06-28 21:50:04             adult
61511       94906   169117      204410 2106-11-26 18:14:17 2106-11-30 16:32:09             adult
61512       94908   195821      276599 2108-05-22 19:29:48 2108-05-31 16:49:19             adult
61513       94911   199992      294585 2155-02-11 17:13:23 2155-02-12 15:29:40             adult
61514       94912   197546      257371 2121-07-23 15:20:38 2121-07-25 17:18:54             adult
61515       94915   194110      238495 2174-12-14 18:05:45 2174-12-15 13:07:18             adult
61516       94916   162540      294627 2151-05-28 17:16:57 2151-05-31 02:29:01               >89
61517       94921   127779      270872 2154-01-25 11:18:20 2154-01-26 13:51:43             adult
61518       94924   186391      290051 2134-01-08 21:59:39 2134-01-09 18:29:16             adult
61519       94924   151078      225864 2134-03-11 14:04:54 2134-03-12 12:14:42             adult
61520       94926   142027      243032 2156-01-15 09:53:26 2156-01-16 20:34:59             adult
61521       94932   169067      224169 2129-03-01 20:01:10 2129-03-05 15:25:57             adult
61522       94933   163962      270429 2130-07-16 23:28:02 2130-07-19 20:39:20             adult
61523       94937   162005      213159 2106-12-25 11:42:23 2107-01-10 11:23:18             adult
61524       94937   162005      280084 2107-01-18 11:11:21 2107-01-19 14:37:37             adult
61525       94937   156213      293838 2107-02-05 17:16:52 2107-02-06 21:53:10             adult
61526       94942   188423      264655 2179-12-25 19:07:29 2179-12-26 16:24:45             adult
61527       94944   143774      201233 2104-04-15 10:18:16 2104-04-17 14:51:00             adult
61528       94950   123750      283653 2155-12-08 05:33:16 2155-12-10 17:24:58               >89
61529       94953   196881      241585 2160-03-03 16:09:11 2160-03-04 14:22:33             adult
61530       94954   118475      202802 2183-03-25 09:53:10 2183-03-27 17:55:03             adult
61531       94956   156386      275346 2157-05-19 02:54:54 2157-05-23 14:58:04             adult

[61532 rows x 6 columns]

## Step 4: Find out how long each stay before ICU

In [39]:
#get patients age

query = query_schema + """

SELECT ie.subject_id
    , ie.hadm_id
    , ie.icustay_id
    , ie.intime
    , ie.outtime
    , (ie.intime - admit.admittime) AS time_before_icu,
    CASE
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 1
            THEN 'neonate'
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 14
            THEN 'middle'
        -- all ages > 89 in the database were replaced with 300
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) > 100
            then '>89'
        ELSE 'adult'
        END AS ICUSTAY_AGE_GROUP
FROM 
    icustays ie
INNER JOIN 
    patients pat
ON 
    ie.subject_id = pat.subject_id
INNER JOIN 
    admissions admit
ON 
    ie.subject_id = admit.subject_id AND
    ie.hadm_id = admit.hadm_id
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  icustay_id              intime             outtime   time_before_icu icustay_age_group
0             268   110404      280836 2198-02-14 23:27:38 2198-02-18 05:26:11   3 days 09:47:38             adult
1             269   106296      206613 2170-11-05 11:05:29 2170-11-08 17:46:57   0 days 00:01:29             adult
2             270   188028      220345 2128-06-24 15:05:20 2128-06-27 12:32:29   0 days 20:39:20             adult
3             271   173727      249196 2120-08-07 23:12:42 2120-08-10 00:39:04   0 days 04:16:42             adult
4             272   164716      210407 2186-12-25 21:08:04 2186-12-27 12:01:13   0 days 00:02:04             adult
5             273   158689      241507 2141-04-19 06:12:05 2141-04-20 17:52:11   0 days 00:01:05             adult
6             274   130546      254851 2114-06-28 22:28:44 2114-07-07 18:01:16   0 days 00:12:44             adult
7             275   129886      219649 2170-10-07 11:28:53 2170-10-14 14:38:07   1 days 08:19:53             adult
8             276   135156      206327 2147-11-20 09:02:23 2147-11-21 17:08:52   0 days 16:09:23             adult
9             277   171601      272866 2132-10-21 21:11:46 2132-10-22 14:44:48   0 days 00:02:46           neonate
10            279   192224      204407 2164-06-14 21:18:27 2164-06-18 22:53:12   1 days 01:59:27             adult
11            280   123506      247496 2155-12-08 18:22:09 2155-12-22 17:10:45   0 days 00:11:09           neonate
12            281   111199      257572 2101-10-18 04:45:22 2101-10-25 22:29:25   0 days 00:03:22             adult
13            282   119013      293262 2175-02-02 17:01:10 2175-02-03 13:27:58   0 days 23:14:10             adult
14            283   109185      231490 2166-08-12 22:03:26 2166-09-12 14:41:42   0 days 00:01:26             adult
15            283   144156      280531 2166-10-02 15:38:43 2166-10-07 13:22:00   0 days 00:02:43             adult
16            284   112354      223593 2149-11-29 15:39:34 2149-11-30 17:18:14   0 days 00:02:34             adult
17            285   165312      238023 2152-09-21 22:48:50 2152-10-20 15:19:31   0 days 00:01:50             adult
18            286   106909      260225 2175-12-31 22:57:27 2176-02-24 19:16:58   0 days 00:01:27             adult
19            286   135917      240627 2176-04-10 20:46:09 2176-04-12 16:42:47   0 days 00:01:09             adult
20            287   174293      270957 2167-05-22 16:13:33 2167-05-25 16:04:56   0 days 08:58:33             adult
21            287   175954      245343 2167-05-31 13:23:41 2167-06-03 17:47:16   0 days 00:01:41             adult
22            288   110921      216651 2191-05-19 12:47:10 2191-05-27 15:15:03   0 days 00:06:10           neonate
23            290   138303      278519 2179-01-26 19:27:19 2179-01-31 11:37:31   0 days 12:12:19             adult
24            291   113649      256641 2102-04-08 23:05:28 2102-04-09 11:20:11   0 days 00:39:28             adult
25            291   125726      275109 2106-04-17 12:26:17 2106-04-18 22:05:39   0 days 00:02:17             adult
26            291   126219      246725 2107-09-13 22:43:01 2107-09-14 18:34:48   0 days 00:02:01             adult
27            292   179726      222505 2103-09-27 18:29:30 2103-09-28 15:44:31   0 days 00:01:30             adult
28            293   125963      263651 2125-02-09 10:35:19 2125-02-10 11:57:22   0 days 03:20:19             adult
29            294   152578      222074 2118-01-17 21:45:05 2118-01-20 11:12:45   0 days 00:01:05             adult
30            295   192988      274998 2176-03-06 18:55:24 2176-03-07 16:39:33   0 days 06:25:24             adult
31            296   159503      273199 2191-03-01 21:31:00 2191-03-02 18:12:00   0 days 00:00:00             adult
32            297   107224      203620 2135-10-05 14:55:47 2135-10-05 17:05:59   0 days 01:50:47           neonate
33            298   119446      225523 2140-08-07 00:33:57 2140-08-09 06:46:53   0 days 00:00:57             adult
34            299   195143      204434 2176-07-01 19:09:04 2176-07-01 20:21:13   0 days 00:02:04           neonate
35            300   142952      208862 2131-10-17 00:14:23 2131-10-17 05:34:05   0 days 02:41:23           neonate
36            301   160332      288401 2189-11-11 12:12:33 2189-11-13 22:11:28   0 days 19:33:33             adult
37            302   191028      249750 2133-03-29 02:34:11 2133-03-30 22:50:35   0 days 00:01:11             adult
38            303   175574      271668 2160-03-17 18:58:00 2160-03-18 21:10:00   0 days 00:21:00             adult
39            303   103013      261797 2163-03-29 23:05:05 2163-04-01 17:41:54   0 days 00:01:05             adult
40            304   177469      295659 2141-05-18 17:22:10 2141-05-19 05:40:47   0 days 00:01:10               >89
41            305   133059      232719 2125-04-27 18:47:43 2125-05-01 16:50:19   1 days 07:02:43             adult
42            305   108015      297009 2126-01-02 11:28:23 2126-01-07 10:07:29   1 days 16:48:23             adult
43            305   122211      224571 2127-06-19 23:50:45 2127-06-20 18:51:59   0 days 00:01:45             adult
44            305   122211      232248 2127-07-03 20:02:34 2127-07-09 15:31:36  13 days 20:13:34             adult
45            305   194340      217232 2129-09-03 12:31:31 2129-09-05 23:00:50  13 days 18:28:31             adult
46            306   167129      291141 2199-09-15 19:59:56 2199-09-18 14:45:17   0 days 00:00:56             adult
47            307   132807      265862 2162-11-27 22:46:16 2162-12-03 20:41:29   3 days 01:57:16             adult
48            307   161712      248439 2164-01-02 14:20:13 2164-01-03 15:48:49   6 days 09:51:13             adult
49            308   166606      283522 2135-09-04 12:54:00 2135-09-30 16:35:00   1 days 13:47:00             adult
50            309   162308      211035 2160-06-04 09:45:55 2160-06-05 19:03:42   0 days 00:00:55             adult
51            310   142159      269885 2139-05-06 23:58:15 2139-05-08 15:29:07   0 days 10:43:15             adult
52            312   166526      290299 2130-06-14 13:17:24 2130-06-14 14:10:47   0 days 03:34:24           neonate
53            313   199765      261824 2139-07-26 16:46:02 2139-07-31 21:01:04   0 days 00:03:02             adult
54            314   155540      261257 2181-09-18 01:11:50 2181-09-22 21:15:26   0 days 00:00:50             adult
55            315   152144      266988 2177-04-29 08:04:53 2177-05-04 16:12:34   4 days 14:03:53             adult
56            316   110748      276876 2134-11-03 16:56:24 2134-11-05 23:16:15   0 days 01:16:24           neonate
57            317   173307      266184 2113-10-24 12:16:50 2113-10-27 14:57:47   0 days 00:00:50             adult
58            318   193264      225173 2129-06-07 08:50:00 2129-06-13 10:45:00   0 days 00:01:00             adult
59            319   124954      281554 2156-08-12 14:01:56 2156-08-14 22:21:43   0 days 00:00:56             adult
60            320   172849      221205 2145-10-09 09:50:48 2145-10-09 20:39:48   0 days 00:01:48             adult
61            321   199004      240147 2189-06-12 22:26:00 2189-06-14 23:11:00   1 days 10:50:00             adult
62            321   192097      254444 2190-03-03 19:52:58 2190-03-05 16:05:35   2 days 12:37:58             adult
63            322   177634      217128 2135-05-02 14:46:48 2135-05-04 20:23:20   0 days 07:31:48             adult
64            323   192631      282555 2115-05-20 10:41:00 2115-05-23 14:21:00   2 days 13:35:00             adult
65            323   106158      249949 2116-05-04 05:30:00 2116-05-08 15:52:00   0 days 06:23:00             adult
66            323   128132      206073 2119-09-21 20:34:57 2119-10-03 20:34:48   0 days 00:00:57             adult
67            323   143334      264375 2120-01-11 15:48:28 2120-01-14 16:24:43   0 days 00:02:28             adult
68            324   146127      285067 2199-10-16 01:39:08 2199-10-16 17:19:07   0 days 00:28:08             adult
69            325   155989      221000 2190-01-05 20:28:18 2190-01-08 18:08:28   0 days 13:13:18             adult
70            326   188926      281585 2118-11-01 21:46:42 2118-11-05 14:16:59   0 days 00:00:42             adult
71            327   146750      272596 2194-04-28 18:27:15 2194-04-29 15:53:30   0 days 09:12:15             adult
72            328   146586      294224 2149-10-31 14:45:41 2149-11-05 14:56:51   0 days 00:01:41             adult
73            328   121438      211849 2149-12-19 02:35:43 2149-12-21 13:16:10   0 days 00:01:43             adult
74            329   172132      217001 2154-04-05 16:36:51 2154-04-08 18:14:48   0 days 00:01:51             adult
75            330   197569      297996 2133-02-27 17:16:41 2133-03-09 16:57:21   0 days 04:46:41             adult
76            331   159710      296409 2166-04-16 03:27:05 2166-04-16 20:10:04   0 days 00:04:05           neonate
77            332   128404      287595 2178-02-16 01:56:51 2178-02-16 09:00:03   0 days 00:44:51           neonate
78            333   160548      243350 2137-09-29 06:03:25 2137-10-01 14:15:47   0 days 01:18:25             adult
79            334   104852      214236 2136-01-16 10:56:48 2136-01-30 18:18:06   0 days 00:10:48           neonate
80            335   110777      278926 2195-03-24 15:26:03 2195-03-26 14:44:47   6 days 04:11:03             adult
81            336   166434      271066 2111-09-10 02:43:57 2111-09-10 03:46:15   0 days 01:49:57           neonate
82            337   181797      256167 2126-10-20 06:00:13 2126-10-20 09:44:46   0 days 00:02:13           neonate
83            338   194592      217990 2135-10-27 19:13:27 2135-10-28 22:40:41   0 days 19:52:27             adult
84            339   112625      221278 2187-04-20 23:10:50 2187-05-22 16:01:27   0 days 00:00:50             adult
85            339   183291      267031 2187-08-07 12:45:34 2187-08-09 01:07:34   0 days 05:30:34             adult
86            339   107660      255582 2188-04-10 07:08:33 2188-04-15 14:22:00   8 days 23:57:33             adult
87            340   139131      279117 2182-01-19 18:14:01 2182-02-05 20:35:33   0 days 00:01:01             adult
88            341   149955      271894 2178-10-03 18:23:46 2178-10-03 21:04:52   0 days 00:06:46           neonate
89            342   193432      203303 2171-08-20 11:28:54 2171-08-22 17:20:01   0 days 00:02:54             adult
90            344   176203      238865 2154-11-12 20:54:09 2154-11-16 08:30:30   0 days 00:01:09             adult
91            345   169339      260258 2169-05-21 22:04:56 2169-05-25 17:34:03   0 days 00:01:56               >89
92            346   186516      258237 2148-11-30 19:16:19 2148-12-05 18:30:53   0 days 05:39:19             adult
93            346   195392      260798 2149-11-29 20:39:09 2149-12-04 17:09:36   0 days 05:13:09             adult
94            347   119310      268893 2118-05-23 10:56:34 2118-05-26 15:51:05 -1 days +21:26:34             adult
95            348   130789      259918 2154-12-13 17:23:19 2154-12-14 14:09:18   0 days 04:53:19             adult
96            349   120112      206585 2198-11-19 17:18:48 2198-11-19 18:58:22   0 days 00:15:48           neonate
97            350   110323      268624 2101-02-25 09:39:50 2101-02-28 10:35:55   0 days 02:24:50             adult
98            351   174800      281750 2171-07-17 17:41:00 2171-07-21 14:19:00   0 days 18:28:00             adult
99            352   121050      295983 2144-05-17 15:48:37 2144-05-18 15:02:05   0 days 00:01:37             adult
...           ...      ...         ...                 ...                 ...               ...               ...
61432       90700   155233      274425 2126-12-03 13:09:32 2126-12-04 12:36:59   0 days 19:19:32             adult
61433       91881   184208      236973 2132-10-02 03:08:33 2132-10-05 16:50:41   1 days 11:15:33             adult
61434       91883   155760      207077 2101-04-10 18:10:35 2101-04-12 17:43:31   0 days 00:01:35             adult
61435       91883   155760      230327 2101-04-13 18:33:18 2101-04-17 12:22:38   3 days 00:24:18             adult
61436       91886   110191      205694 2151-02-19 17:05:00 2151-02-20 18:46:14   1 days 18:35:00             adult
61437       91887   164041      282472 2199-02-01 18:36:11 2199-02-02 15:18:53   0 days 00:01:11             adult
61438       91904   178866      258717 2170-12-01 15:43:11 2170-12-03 17:44:25   0 days 00:02:11             adult
61439       91905   106673      264800 2159-05-14 01:03:07 2159-05-14 16:52:23   0 days 06:07:07             adult
61440       91907   136423      236031 2183-04-15 12:27:21 2183-04-20 15:28:34   0 days 00:01:21             adult
61441       91910   129743      276918 2136-08-03 19:34:08 2136-08-07 22:30:46   0 days 12:19:08             adult
61442       91913   121738      293377 2105-04-07 14:50:13 2105-04-12 17:43:40   0 days 00:01:13             adult
61443       91915   185258      281382 2128-09-08 03:18:03 2128-09-09 22:06:05   0 days 00:02:03               >89
61444       91916   166205      261005 2161-11-06 16:01:34 2161-11-07 00:56:09   0 days 00:39:34             adult
61445       91919   193816      261905 2144-01-07 13:18:20 2144-01-08 12:35:13   0 days 01:48:20             adult
61446       91925   121865      222480 2168-07-20 16:00:21 2168-07-24 18:12:45   1 days 15:04:21             adult
61447       91926   128362      281453 2104-05-04 02:25:11 2104-05-09 16:10:42   0 days 00:40:11               >89
61448       91926   128362      294925 2104-05-20 10:32:23 2104-05-23 16:36:31  16 days 08:47:23               >89
61449       91929   100463      298114 2109-07-29 06:50:26 2109-07-30 17:14:30   0 days 00:01:26             adult
61450       91934   196304      200408 2147-06-23 19:00:56 2147-06-26 12:22:48   3 days 04:56:56             adult
61451       91934   128156      252105 2147-08-07 15:10:07 2147-08-31 14:53:05   0 days 00:01:07             adult
61452       91934   155290      223146 2147-09-03 21:36:54 2147-09-14 15:52:18   0 days 00:00:54             adult
61453       91939   149837      290796 2137-11-21 22:57:22 2137-11-22 19:04:24   0 days 03:00:22             adult
61454       91946   102774      225615 2154-04-04 05:05:08 2154-04-19 16:28:00   0 days 00:01:08             adult
61455       91948   188369      269804 2147-12-11 21:18:42 2147-12-15 15:23:27   0 days 00:01:42             adult
61456       91950   133967      223097 2159-05-29 00:29:28 2159-05-31 08:09:21   0 days 00:01:28             adult
61457       91951   106173      246330 2185-05-31 23:44:05 2185-06-01 22:04:04   0 days 00:02:05             adult
61458       91954   162776      270203 2190-01-31 00:26:41 2190-02-02 20:38:58   0 days 02:30:41               >89
61459       91955   152659      258661 2138-05-05 18:19:51 2138-05-06 17:49:11   0 days 00:00:51             adult
61460       91960   169976      278377 2104-01-10 07:20:06 2104-01-11 12:39:03   8 days 06:56:06             adult
61461       91965   156822      235166 2165-09-30 10:39:10 2165-10-02 10:57:28   3 days 20:39:10             adult
61462       91975   136078      290720 2113-10-06 10:51:51 2113-10-08 18:41:33   0 days 00:00:51             adult
61463       91978   113913      215496 2119-10-28 16:16:38 2119-10-31 06:48:16   0 days 00:01:38             adult
61464       91983   137830      227195 2118-10-03 10:27:00 2118-10-04 21:26:23   4 days 22:18:00             adult
61465       91989   186557      257278 2161-07-31 21:29:15 2161-08-03 17:20:58   0 days 00:01:15             adult
61466       91992   195276      250892 2120-03-18 07:47:12 2120-03-20 20:54:48   0 days 00:01:12             adult
61467       91995   132071      252693 2193-01-09 16:51:29 2193-01-10 20:25:57   0 days 00:02:29             adult
61468       91995   135839      249047 2193-06-26 13:43:00 2193-06-28 15:14:42   0 days 00:01:00             adult
61469       91996   176599      249134 2136-07-27 04:13:01 2136-07-31 00:19:47   0 days 00:02:01             adult
61470       92001   150299      212737 2191-09-25 05:09:30 2191-09-25 14:29:40   0 days 00:01:30             adult
61471       92002   129029      207246 2153-05-01 18:12:49 2153-05-03 17:35:32   1 days 04:12:49             adult
61472       92003   193800      278536 2147-12-18 11:46:18 2147-12-19 13:10:45   0 days 00:01:18             adult
61473       92005   114220      291611 2140-05-18 14:52:39 2140-05-19 13:36:11   0 days 22:33:39               >89
61474       92007   142248      233262 2104-03-05 10:56:34 2104-03-07 12:12:52   0 days 02:56:34             adult
61475       92013   128060      244395 2134-08-16 04:30:07 2134-08-17 17:45:01   0 days 09:30:07             adult
61476       92014   132218      222504 2179-04-15 11:06:53 2179-04-16 17:38:17   1 days 22:28:53             adult
61477       92025   160456      212557 2142-07-16 18:18:21 2142-07-18 18:37:12   0 days 00:02:21               >89
61478       92027   181411      278846 2166-11-25 12:53:41 2166-11-26 11:37:08   0 days 05:38:41             adult
61479       92036   106094      283088 2198-05-04 16:25:05 2198-05-06 20:37:54   0 days 00:01:05             adult
61480       92041   156273      285416 2188-10-19 21:35:10 2188-10-22 13:49:41   0 days 00:01:10             adult
61481       92050   156700      216907 2150-10-31 13:01:06 2150-11-01 19:59:13   0 days 07:02:06             adult
61482       92052   127953      210035 2153-11-10 20:24:44 2153-11-11 22:59:18   0 days 00:01:44             adult
61483       92055   112509      223987 2121-03-28 11:28:39 2121-03-29 15:27:31   0 days 04:13:39             adult
61484       94821   196738      253794 2196-02-17 19:18:31 2196-02-21 18:00:52   0 days 00:01:31             adult
61485       94824   161774      246126 2181-06-02 18:01:08 2181-06-03 18:20:14   0 days 15:31:08             adult
61486       94828   132498      200958 2101-12-30 12:46:00 2102-01-01 14:58:00   1 days 22:20:00             adult
61487       94828   158150      256694 2112-02-23 09:38:29 2112-02-29 21:03:08   0 days 00:03:29             adult
61488       94828   150832      239803 2112-08-09 18:35:41 2112-08-10 21:31:08   0 days 00:01:41             adult
61489       94828   150832      212410 2112-08-12 15:01:24 2112-08-16 20:44:18   2 days 20:27:24             adult
61490       94828   116543      240638 2112-10-10 20:11:24 2112-10-13 20:36:42   0 days 13:31:24             adult
61491       94837   166940      237826 2133-06-29 18:31:49 2133-07-01 14:56:18   0 days 00:00:49             adult
61492       94838   140463      283804 2133-10-17 22:09:35 2133-10-22 15:47:56   0 days 00:01:35             adult
61493       94840   180494      225737 2146-06-27 09:40:15 2146-06-28 15:34:48   4 days 16:01:15             adult
61494       94846   133042      257969 2171-08-04 09:34:14 2171-08-17 04:53:28   1 days 11:18:14             adult
61495       94847   162559      259510 2112-02-12 19:57:59 2112-02-13 18:54:32   8 days 23:16:59             adult
61496       94853   199642      281231 2151-11-26 17:01:33 2151-11-27 16:56:38   0 days 00:00:33             adult
61497       94853   197339      272288 2152-07-08 13:04:55 2152-07-09 20:58:34   0 days 00:00:55             adult
61498       94863   111249      212254 2176-09-04 15:24:47 2176-09-06 15:18:59   0 days 00:00:47             adult
61499       94864   168788      288166 2179-12-10 20:15:49 2179-12-18 20:51:40   0 days 00:00:49             adult
61500       94869   159145      277187 2179-08-02 23:03:22 2179-08-03 13:29:45   0 days 00:01:22             adult
61501       94872   123622      225041 2110-08-11 17:19:30 2110-08-14 18:08:32   0 days 00:00:30             adult
61502       94872   136192      271300 2110-09-22 21:44:13 2110-09-23 18:59:27   0 days 00:43:13             adult

### Step 5: Get patient death in hospital

In [42]:
#get patients age

query = query_schema + """

SELECT ie.subject_id
    , ie.hadm_id
    , ie.icustay_id
    , ie.intime
    , ie.outtime
    , (ie.intime - admit.admittime) AS time_before_icu
    , admit.hospital_expire_flag
    , admit.deathtime,
    CASE
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 1
            THEN 'neonate'
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) <= 14
            THEN 'middle'
        -- all ages > 89 in the database were replaced with 300
        WHEN ROUND((cast(ie.intime as date) - cast(pat.dob as date))/365.242, 2) > 100
            then '>89'
        ELSE 'adult'
        END AS ICUSTAY_AGE_GROUP
FROM 
    icustays ie
INNER JOIN 
    patients pat
ON 
    ie.subject_id = pat.subject_id
INNER JOIN 
    admissions admit
ON 
    ie.subject_id = admit.subject_id AND
    ie.hadm_id = admit.hadm_id
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  icustay_id              intime             outtime   time_before_icu  hospital_expire_flag           deathtime icustay_age_group
0             268   110404      280836 2198-02-14 23:27:38 2198-02-18 05:26:11   3 days 09:47:38                     1 2198-02-18 03:55:00             adult
1             269   106296      206613 2170-11-05 11:05:29 2170-11-08 17:46:57   0 days 00:01:29                     0                 NaT             adult
2             270   188028      220345 2128-06-24 15:05:20 2128-06-27 12:32:29   0 days 20:39:20                     0                 NaT             adult
3             272   164716      210407 2186-12-25 21:08:04 2186-12-27 12:01:13   0 days 00:02:04                     0                 NaT             adult
4             273   158689      241507 2141-04-19 06:12:05 2141-04-20 17:52:11   0 days 00:01:05                     0                 NaT             adult
5             274   130546      254851 2114-06-28 22:28:44 2114-07-07 18:01:16   0 days 00:12:44                     0                 NaT             adult
6             275   129886      219649 2170-10-07 11:28:53 2170-10-14 14:38:07   1 days 08:19:53                     1 2170-10-19 15:35:00             adult
7             277   171601      272866 2132-10-21 21:11:46 2132-10-22 14:44:48   0 days 00:02:46                     0                 NaT           neonate
8             279   192224      204407 2164-06-14 21:18:27 2164-06-18 22:53:12   1 days 01:59:27                     0                 NaT             adult
9             280   123506      247496 2155-12-08 18:22:09 2155-12-22 17:10:45   0 days 00:11:09                     0                 NaT           neonate
10            281   111199      257572 2101-10-18 04:45:22 2101-10-25 22:29:25   0 days 00:03:22                     1 2101-10-25 19:10:00             adult
11            282   119013      293262 2175-02-02 17:01:10 2175-02-03 13:27:58   0 days 23:14:10                     0                 NaT             adult
12            283   144156      280531 2166-10-02 15:38:43 2166-10-07 13:22:00   0 days 00:02:43                     0                 NaT             adult
13            285   165312      238023 2152-09-21 22:48:50 2152-10-20 15:19:31   0 days 00:01:50                     0                 NaT             adult
14            287   175954      245343 2167-05-31 13:23:41 2167-06-03 17:47:16   0 days 00:01:41                     0                 NaT             adult
15            290   138303      278519 2179-01-26 19:27:19 2179-01-31 11:37:31   0 days 12:12:19                     0                 NaT             adult
16            291   125726      275109 2106-04-17 12:26:17 2106-04-18 22:05:39   0 days 00:02:17                     0                 NaT             adult
17            291   126219      246725 2107-09-13 22:43:01 2107-09-14 18:34:48   0 days 00:02:01                     0                 NaT             adult
18            293   125963      263651 2125-02-09 10:35:19 2125-02-10 11:57:22   0 days 03:20:19                     0                 NaT             adult
19            295   192988      274998 2176-03-06 18:55:24 2176-03-07 16:39:33   0 days 06:25:24                     0                 NaT             adult
20            296   159503      273199 2191-03-01 21:31:00 2191-03-02 18:12:00   0 days 00:00:00                     0                 NaT             adult
21            300   142952      208862 2131-10-17 00:14:23 2131-10-17 05:34:05   0 days 02:41:23                     0                 NaT           neonate
22            301   160332      288401 2189-11-11 12:12:33 2189-11-13 22:11:28   0 days 19:33:33                     0                 NaT             adult
23            302   191028      249750 2133-03-29 02:34:11 2133-03-30 22:50:35   0 days 00:01:11                     0                 NaT             adult
24            304   177469      295659 2141-05-18 17:22:10 2141-05-19 05:40:47   0 days 00:01:10                     1 2141-05-19 01:45:00               >89
25            305   122211      224571 2127-06-19 23:50:45 2127-06-20 18:51:59   0 days 00:01:45                     0                 NaT             adult
26            305   122211      232248 2127-07-03 20:02:34 2127-07-09 15:31:36  13 days 20:13:34                     0                 NaT             adult
27            305   194340      217232 2129-09-03 12:31:31 2129-09-05 23:00:50  13 days 18:28:31                     1 2129-09-07 17:55:00             adult
28            309   162308      211035 2160-06-04 09:45:55 2160-06-05 19:03:42   0 days 00:00:55                     0                 NaT             adult
29            310   142159      269885 2139-05-06 23:58:15 2139-05-08 15:29:07   0 days 10:43:15                     0                 NaT             adult
30            315   152144      266988 2177-04-29 08:04:53 2177-05-04 16:12:34   4 days 14:03:53                     0                 NaT             adult
31            316   110748      276876 2134-11-03 16:56:24 2134-11-05 23:16:15   0 days 01:16:24                     0                 NaT           neonate
32            317   173307      266184 2113-10-24 12:16:50 2113-10-27 14:57:47   0 days 00:00:50                     0                 NaT             adult
33            318   193264      225173 2129-06-07 08:50:00 2129-06-13 10:45:00   0 days 00:01:00                     0                 NaT             adult
34            319   124954      281554 2156-08-12 14:01:56 2156-08-14 22:21:43   0 days 00:00:56                     0                 NaT             adult
35            321   192097      254444 2190-03-03 19:52:58 2190-03-05 16:05:35   2 days 12:37:58                     0                 NaT             adult
36            322   177634      217128 2135-05-02 14:46:48 2135-05-04 20:23:20   0 days 07:31:48                     0                 NaT             adult
37            323   106158      249949 2116-05-04 05:30:00 2116-05-08 15:52:00   0 days 06:23:00                     0                 NaT             adult
38            323   128132      206073 2119-09-21 20:34:57 2119-10-03 20:34:48   0 days 00:00:57                     0                 NaT             adult
39            325   155989      221000 2190-01-05 20:28:18 2190-01-08 18:08:28   0 days 13:13:18                     0                 NaT             adult
40            326   188926      281585 2118-11-01 21:46:42 2118-11-05 14:16:59   0 days 00:00:42                     0                 NaT             adult
41            330   197569      297996 2133-02-27 17:16:41 2133-03-09 16:57:21   0 days 04:46:41                     0                 NaT             adult
42            333   160548      243350 2137-09-29 06:03:25 2137-10-01 14:15:47   0 days 01:18:25                     0                 NaT             adult
43            334   104852      214236 2136-01-16 10:56:48 2136-01-30 18:18:06   0 days 00:10:48                     0                 NaT           neonate
44            336   166434      271066 2111-09-10 02:43:57 2111-09-10 03:46:15   0 days 01:49:57                     0                 NaT           neonate
45            337   181797      256167 2126-10-20 06:00:13 2126-10-20 09:44:46   0 days 00:02:13                     0                 NaT           neonate
46            339   183291      267031 2187-08-07 12:45:34 2187-08-09 01:07:34   0 days 05:30:34                     0                 NaT             adult
47            340   139131      279117 2182-01-19 18:14:01 2182-02-05 20:35:33   0 days 00:01:01                     0                 NaT             adult
48            344   176203      238865 2154-11-12 20:54:09 2154-11-16 08:30:30   0 days 00:01:09                     1 2154-11-16 05:45:00             adult
49            347   119310      268893 2118-05-23 10:56:34 2118-05-26 15:51:05 -1 days +21:26:34                     0                 NaT             adult
50            353   159730      265453 2148-06-26 08:23:00 2148-06-28 11:25:00  10 days 21:19:00                     0                 NaT             adult
51            353   112976      208489 2151-06-23 22:19:31 2151-06-27 15:03:05   0 days 00:01:31                     0                 NaT             adult
52            353   159476      232870 2153-07-04 20:30:30 2153-07-07 12:49:14   7 days 00:15:30                     1 2153-07-07 10:30:00             adult
53             67   186474      286338 2155-02-25 22:04:00 2155-02-27 15:45:00   0 days 09:19:00                     0                 NaT             adult
54             68   170467      294232 2173-12-16 02:58:16 2173-12-19 15:51:16   0 days 10:42:16                     0                 NaT             adult
55             68   170467      225771 2173-12-31 01:52:46 2173-12-31 21:33:34  15 days 09:36:46                     0                 NaT             adult
56             70   178596      229490 2185-09-04 10:21:31 2185-09-04 16:19:25   2 days 23:39:31                     0                 NaT           neonate
57             72   156857      239612 2163-09-22 23:59:48 2163-09-29 12:21:37   0 days 00:07:48                     0                 NaT           neonate
58             73   194730      284305 2170-12-22 00:14:07 2170-12-24 16:32:28   0 days 00:02:07                     0                 NaT             adult
59             74   182637      234057 2180-06-07 19:46:49 2180-06-08 07:09:30   0 days 00:07:49                     0                 NaT           neonate
60             75   112086      281607 2147-04-05 10:35:50 2147-04-06 16:31:18   0 days 02:35:50                     0                 NaT             adult
61             77   142768      297831 2164-11-18 07:06:12 2164-11-19 10:58:44   0 days 00:06:12                     0                 NaT             adult
62             79   181542      290076 2175-09-26 01:00:46 2175-09-28 03:00:09   0 days 01:55:46                     0                 NaT             adult
63             80   115385      256068 2148-11-11 12:13:00 2148-11-12 16:46:47   0 days 00:01:00                     0                 NaT             adult
64             81   175016      222874 2192-01-09 18:50:47 2192-01-11 07:10:34   0 days 00:00:47                     0                 NaT             adult
65             83   158569      254066 2142-04-03 10:33:32 2142-04-05 18:05:53   1 days 21:59:32                     0                 NaT             adult
66             85   112077      291697 2167-07-25 18:50:37 2167-07-27 18:37:35   0 days 00:01:37                     0                 NaT             adult
67             87   190659      277633 2191-02-25 21:09:05 2191-04-25 15:38:56   0 days 00:39:05                     0                 NaT           neonate
68             88   123010      297289 2111-08-29 03:04:42 2111-08-30 21:08:09   0 days 00:01:42                     0                 NaT             adult
69             89   188646      249786 2185-06-17 05:46:00 2185-06-21 12:00:41   0 days 00:24:00                     0                 NaT           neonate
70             92   142807      291001 2122-12-13 19:40:05 2123-03-04 13:47:23   0 days 00:10:05                     0                 NaT           neonate
71             97   127870      288376 2105-04-30 08:37:39 2105-05-04 20:05:55   1 days 17:36:39                     0                 NaT             adult
72             98   188606      216929 2137-04-02 15:15:39 2137-04-04 21:06:16   0 days 07:15:39                     0                 NaT             adult
73            100   153952      221100 2157-08-10 12:16:00 2157-08-12 15:04:00   0 days 05:01:00                     0                 NaT             adult
74            101   175533      233111 2196-09-26 18:37:40 2196-10-06 16:01:56   0 days 00:01:40                     1 2196-10-12 13:17:00             adult
75            103   130744      212246 2144-08-12 17:37:47 2144-08-15 18:11:52   0 days 00:00:47                     0                 NaT             adult
76            103   133550      299890 2144-08-30 23:12:13 2144-08-31 17:32:16   0 days 00:03:13                     1 2144-09-01 14:28:00             adult
77            104   164025      225366 2184-10-17 07:59:29 2184-10-23 17:01:39   0 days 06:24:29                     0                 NaT           neonate
78            105   161160      294980 2189-01-28 16:59:55 2189-02-02 16:55:17   0 days 00:02:55                     0                 NaT             adult
79            107   182383      252542 2121-11-30 19:24:56 2121-12-01 21:20:57   0 days 00:00:56                     0                 NaT             adult
80            109   183350      277062 2137-11-04 19:37:58 2137-11-05 17:04:39   0 days 00:01:58                     0                 NaT             adult
81            109   183350      298630 2137-11-09 13:31:16 2137-11-12 17:56:27   4 days 17:55:16                     0                 NaT             adult
82            109   183350      208379 2137-11-14 20:47:58 2137-11-20 22:38:41  10 days 01:11:58                     0                 NaT             adult
83            109   108375      257698 2140-02-02 02:14:11 2140-02-02 16:23:16   0 days 00:01:11                     0                 NaT             adult
84            109   175347      231823 2140-05-17 14:29:09 2140-05-19 21:23:15   0 days 00:02:09                     0                 NaT             adult
85            109   110668      221610 2140-08-25 14:40:48 2140-08-31 23:34:12   0 days 00:01:48                     0                 NaT             adult
86            109   131345      243978 2141-09-05 20:05:20 2141-09-06 19:41:08   0 days 00:01:20                     0                 NaT             adult
87            109   139061      257358 2141-09-11 10:13:28 2141-09-12 16:53:07   0 days 00:01:28                     0                 NaT             adult
88            109   126055      236124 2141-10-13 23:11:01 2141-10-25 20:49:04   0 days 00:01:01                     0                 NaT             adult
89            109   125288      257134 2141-11-18 14:01:37 2141-11-19 21:35:18   0 days 00:01:37                     0                 NaT             adult
90            109   158943      243532 2142-03-21 09:26:43 2142-03-22 20:38:13   0 days 00:01:43                     0                 NaT             adult
91            109   124398      249219 2142-03-24 16:35:16 2142-03-25 05:37:49   0 days 00:01:16                     0                 NaT             adult
92            109   137510      246183 2142-04-20 13:40:30 2142-04-21 22:04:53   0 days 00:01:30                     0                 NaT             adult
93            109   136572      286860 2142-06-18 03:13:11 2142-06-19 00:02:20   0 days 00:02:11                     0                 NaT             adult
94            109   196721      214027 2142-07-12 15:28:40 2142-07-15 20:45:04   0 days 00:01:40                     0                 NaT             adult
95            109   196721      217934 2142-07-17 07:48:43 2142-07-18 20:28:26   4 days 16:21:43                     0                 NaT             adult
96            109   155726      254406 2142-08-13 04:04:27 2142-08-14 21:55:48   0 days 00:01:27                     0                 NaT             adult
97            110   154943      282073 2110-06-02 02:49:26 2110-06-05 19:47:04   3 days 03:22:26                     0                 NaT           neonate
98            111   155897      249202 2144-07-01 04:13:59 2144-07-01 17:56:31   0 days 00:01:59                     1 2144-07-01 14:55:00             adult
99            113   109976      224661 2140-12-12 22:48:08 2140-12-13 17:42:46   0 days 00:02:08                     0                 NaT             adult
...           ...      ...         ...                 ...                 ...               ...                   ...                 ...               ...
61432       87785   142723      209613 2114-02-18 16:06:22 2114-02-19 16:31:29   0 days 00:01:22                     0                 NaT             adult
61433       87789   186560      270239 2172-02-06 19:09:00 2172-02-07 11:10:57   0 days 00:01:00                     0                 NaT             adult
61434       87794   152117      284004 2128-07-15 20:03:02 2128-07-18 16:28:49   0 days 21:20:02                     0                 NaT             adult
61435       87800   174043      293828 2115-01-09 20:37:42 2115-01-10 22:38:15   0 days 00:01:42                     0                 NaT             adult
61436       87801   176574      293760 2166-04-29 08:54:37 2166-04-30 11:50:58   0 days 01:39:37                     0                 NaT             adult
61437       87809   165183      218871 2110-11-14 16:04:32 2110-11-15 18:03:05   0 days 23:25:32                     0                 NaT             adult
61438       87818   129998      203647 2180-10-09 15:13:57 2180-10-11 16:36:16   0 days 00:01:57                     0                 NaT             adult
61439       87835   168849      235860 2172-05-27 13:08:51 2172-06-02 10:11:51   1 days 12:28:51                     0                 NaT             adult
61440       87847   147666      289497 2111-11-18 12:22:05 2111-11-19 11:32:28   0 days 04:52:05                     0                 NaT             adult
61441       87864   165700      250204 2197-08-01 08:49:07 2197-08-11 16:54:36   0 days 02:46:07                     0                 NaT               >89
61442       87879   155607      230219 2133-08-07 17:52:08 2133-08-10 17:14:06   0 days 00:01:08                     0                 NaT             adult
61443       87880   176814      276921 2164-05-28 17:02:11 2164-06-09 00:32:02   0 days 00:01:11                     0                 NaT             adult
61444       87887   132861      274753 2145-11-11 09:37:55 2145-11-15 13:14:18   0 days 02:22:55                     0                 NaT             adult
61445       87889   102964      284962 2106-10-07 10:49:39 2106-10-08 14:14:07   1 days 20:13:39                     0                 NaT             adult
61446       90539   154506      223881 2198-05-21 09:25:43 2198-05-24 17:09:20   0 days 02:10:43                     0                 NaT             adult
61447       90540   183305      294459 2142-09-10 17:14:08 2142-09-13 19:37:33   5 days 09:59:08                     0                 NaT             adult
61448       90540   183305      261176 2142-09-17 21:18:16 2142-09-19 21:49:39  12 days 14:03:16                     0                 NaT             adult
61449       90546   180286      267689 2131-08-23 15:38:58 2131-08-24 13:54:57   0 days 08:23:58                     0                 NaT             adult
61450       90546   146354      239283 2132-03-26 18:48:22 2132-03-27 20:56:50   0 days 00:01:22                     0                 NaT             adult
61451       90546   146354      235599 2132-03-29 11:20:27 2132-03-30 16:48:05   2 days 16:33:27                     0                 NaT             adult
61452       90549   126207      274863 2133-11-07 05:10:44 2133-11-10 18:31:10   0 days 00:03:44                     0                 NaT             adult
61453       90552   163517      202937 2161-08-14 22:49:36 2161-08-15 16:45:12   0 days 00:01:36                     0                 NaT             adult
61454       90559   175356      298390 2173-11-28 13:39:31 2173-12-01 14:27:19   0 days 00:29:31                     0                 NaT             adult
61455       90560   187141      284741 2111-02-23 10:34:21 2111-02-24 13:21:28   0 days 03:19:21                     0                 NaT             adult
61456       90566   128650      283158 2174-12-11 19:30:44 2174-12-12 19:12:39   0 days 00:00:44                     0                 NaT             adult

### Step 6: Get patient death in icu

In [44]:
#get patients age

query = query_schema + """

SELECT ie.subject_id
    , ie.hadm_id
    , ie.icustay_id
    , ie.intime
    , ie.outtime
    , (ie.intime - adm.admittime) AS time_before_icu
    , adm.hospital_expire_flag
    , adm.deathtime,
    -- note that there is already a "hospital_expire_flag" field in the admissions table which you could use
    CASE
        WHEN adm.hospital_expire_flag = 1 then 'Y'           
    ELSE 'N'
    END AS hospital_expire_flag,
    -- note also that hospital_expire_flag is equivalent to "Is adm.deathtime not null?"
    CASE
        WHEN adm.deathtime BETWEEN ie.intime and ie.outtime
            THEN 'Y'
        -- sometimes there are typographical errors in the death date, so check before intime
        WHEN adm.deathtime <= ie.intime
            THEN 'Y'
        WHEN adm.dischtime <= ie.outtime
            AND adm.discharge_location = 'DEAD/EXPIRED'
            THEN 'Y'
        ELSE 'N'
        END AS ICUSTAY_EXPIRE_FLAG
FROM 
    icustays ie
INNER JOIN 
    patients pat
ON 
    ie.subject_id = pat.subject_id
INNER JOIN 
    admissions adm
ON 
    ie.subject_id = adm.subject_id AND
    ie.hadm_id = adm.hadm_id
"""
df_demo= pd.read_sql_query(query,con)
df_demo

       subject_id  hadm_id  icustay_id              intime             outtime   time_before_icu hospital_expire_flag           deathtime hospital_expire_flag icustay_expire_flag
0             268   110404      280836 2198-02-14 23:27:38 2198-02-18 05:26:11   3 days 09:47:38                    1 2198-02-18 03:55:00                    Y                   Y
1             269   106296      206613 2170-11-05 11:05:29 2170-11-08 17:46:57   0 days 00:01:29                    0                 NaT                    N                   N
2             270   188028      220345 2128-06-24 15:05:20 2128-06-27 12:32:29   0 days 20:39:20                    0                 NaT                    N                   N
3             272   164716      210407 2186-12-25 21:08:04 2186-12-27 12:01:13   0 days 00:02:04                    0                 NaT                    N                   N
4             273   158689      241507 2141-04-19 06:12:05 2141-04-20 17:52:11   0 days 00:01:05                    0                 NaT                    N                   N
5             274   130546      254851 2114-06-28 22:28:44 2114-07-07 18:01:16   0 days 00:12:44                    0                 NaT                    N                   N
6             275   129886      219649 2170-10-07 11:28:53 2170-10-14 14:38:07   1 days 08:19:53                    1 2170-10-19 15:35:00                    Y                   N
7             277   171601      272866 2132-10-21 21:11:46 2132-10-22 14:44:48   0 days 00:02:46                    0                 NaT                    N                   N
8             279   192224      204407 2164-06-14 21:18:27 2164-06-18 22:53:12   1 days 01:59:27                    0                 NaT                    N                   N
9             280   123506      247496 2155-12-08 18:22:09 2155-12-22 17:10:45   0 days 00:11:09                    0                 NaT                    N                   N
10            281   111199      257572 2101-10-18 04:45:22 2101-10-25 22:29:25   0 days 00:03:22                    1 2101-10-25 19:10:00                    Y                   Y
11            282   119013      293262 2175-02-02 17:01:10 2175-02-03 13:27:58   0 days 23:14:10                    0                 NaT                    N                   N
12            283   144156      280531 2166-10-02 15:38:43 2166-10-07 13:22:00   0 days 00:02:43                    0                 NaT                    N                   N
13            285   165312      238023 2152-09-21 22:48:50 2152-10-20 15:19:31   0 days 00:01:50                    0                 NaT                    N                   N
14            287   175954      245343 2167-05-31 13:23:41 2167-06-03 17:47:16   0 days 00:01:41                    0                 NaT                    N                   N
15            290   138303      278519 2179-01-26 19:27:19 2179-01-31 11:37:31   0 days 12:12:19                    0                 NaT                    N                   N
16            291   125726      275109 2106-04-17 12:26:17 2106-04-18 22:05:39   0 days 00:02:17                    0                 NaT                    N                   N
17            291   126219      246725 2107-09-13 22:43:01 2107-09-14 18:34:48   0 days 00:02:01                    0                 NaT                    N                   N
18            293   125963      263651 2125-02-09 10:35:19 2125-02-10 11:57:22   0 days 03:20:19                    0                 NaT                    N                   N
19            295   192988      274998 2176-03-06 18:55:24 2176-03-07 16:39:33   0 days 06:25:24                    0                 NaT                    N                   N
20            296   159503      273199 2191-03-01 21:31:00 2191-03-02 18:12:00   0 days 00:00:00                    0                 NaT                    N                   N
21            300   142952      208862 2131-10-17 00:14:23 2131-10-17 05:34:05   0 days 02:41:23                    0                 NaT                    N                   N
22            301   160332      288401 2189-11-11 12:12:33 2189-11-13 22:11:28   0 days 19:33:33                    0                 NaT                    N                   N
23            302   191028      249750 2133-03-29 02:34:11 2133-03-30 22:50:35   0 days 00:01:11                    0                 NaT                    N                   N
24            304   177469      295659 2141-05-18 17:22:10 2141-05-19 05:40:47   0 days 00:01:10                    1 2141-05-19 01:45:00                    Y                   Y
25            305   122211      224571 2127-06-19 23:50:45 2127-06-20 18:51:59   0 days 00:01:45                    0                 NaT                    N                   N
26            305   122211      232248 2127-07-03 20:02:34 2127-07-09 15:31:36  13 days 20:13:34                    0                 NaT                    N                   N
27            305   194340      217232 2129-09-03 12:31:31 2129-09-05 23:00:50  13 days 18:28:31                    1 2129-09-07 17:55:00                    Y                   N
28            309   162308      211035 2160-06-04 09:45:55 2160-06-05 19:03:42   0 days 00:00:55                    0                 NaT                    N                   N
29            310   142159      269885 2139-05-06 23:58:15 2139-05-08 15:29:07   0 days 10:43:15                    0                 NaT                    N                   N
30            315   152144      266988 2177-04-29 08:04:53 2177-05-04 16:12:34   4 days 14:03:53                    0                 NaT                    N                   N
31            316   110748      276876 2134-11-03 16:56:24 2134-11-05 23:16:15   0 days 01:16:24                    0                 NaT                    N                   N
32            317   173307      266184 2113-10-24 12:16:50 2113-10-27 14:57:47   0 days 00:00:50                    0                 NaT                    N                   N
33            318   193264      225173 2129-06-07 08:50:00 2129-06-13 10:45:00   0 days 00:01:00                    0                 NaT                    N                   N
34            319   124954      281554 2156-08-12 14:01:56 2156-08-14 22:21:43   0 days 00:00:56                    0                 NaT                    N                   N
35            321   192097      254444 2190-03-03 19:52:58 2190-03-05 16:05:35   2 days 12:37:58                    0                 NaT                    N                   N
36            322   177634      217128 2135-05-02 14:46:48 2135-05-04 20:23:20   0 days 07:31:48                    0                 NaT                    N                   N
37            323   106158      249949 2116-05-04 05:30:00 2116-05-08 15:52:00   0 days 06:23:00                    0                 NaT                    N                   N
38            323   128132      206073 2119-09-21 20:34:57 2119-10-03 20:34:48   0 days 00:00:57                    0                 NaT                    N                   N
39            325   155989      221000 2190-01-05 20:28:18 2190-01-08 18:08:28   0 days 13:13:18                    0                 NaT                    N                   N
40            326   188926      281585 2118-11-01 21:46:42 2118-11-05 14:16:59   0 days 00:00:42                    0                 NaT                    N                   N
41            330   197569      297996 2133-02-27 17:16:41 2133-03-09 16:57:21   0 days 04:46:41                    0                 NaT                    N                   N
42            333   160548      243350 2137-09-29 06:03:25 2137-10-01 14:15:47   0 days 01:18:25                    0                 NaT                    N                   N
43            334   104852      214236 2136-01-16 10:56:48 2136-01-30 18:18:06   0 days 00:10:48                    0                 NaT                    N                   N
44            336   166434      271066 2111-09-10 02:43:57 2111-09-10 03:46:15   0 days 01:49:57                    0                 NaT                    N                   N
45            337   181797      256167 2126-10-20 06:00:13 2126-10-20 09:44:46   0 days 00:02:13                    0                 NaT                    N                   N
46            339   183291      267031 2187-08-07 12:45:34 2187-08-09 01:07:34   0 days 05:30:34                    0                 NaT                    N                   N
47            340   139131      279117 2182-01-19 18:14:01 2182-02-05 20:35:33   0 days 00:01:01                    0                 NaT                    N                   N
48            344   176203      238865 2154-11-12 20:54:09 2154-11-16 08:30:30   0 days 00:01:09                    1 2154-11-16 05:45:00                    Y                   Y
49            347   119310      268893 2118-05-23 10:56:34 2118-05-26 15:51:05 -1 days +21:26:34                    0                 NaT                    N                   N
50            353   159730      265453 2148-06-26 08:23:00 2148-06-28 11:25:00  10 days 21:19:00                    0                 NaT                    N                   N
51            353   112976      208489 2151-06-23 22:19:31 2151-06-27 15:03:05   0 days 00:01:31                    0                 NaT                    N                   N
52            353   159476      232870 2153-07-04 20:30:30 2153-07-07 12:49:14   7 days 00:15:30                    1 2153-07-07 10:30:00                    Y                   Y
53             67   186474      286338 2155-02-25 22:04:00 2155-02-27 15:45:00   0 days 09:19:00                    0                 NaT                    N                   N
54             68   170467      294232 2173-12-16 02:58:16 2173-12-19 15:51:16   0 days 10:42:16                    0                 NaT                    N                   N
55             68   170467      225771 2173-12-31 01:52:46 2173-12-31 21:33:34  15 days 09:36:46                    0                 NaT                    N                   N
56             70   178596      229490 2185-09-04 10:21:31 2185-09-04 16:19:25   2 days 23:39:31                    0                 NaT                    N                   N
57             72   156857      239612 2163-09-22 23:59:48 2163-09-29 12:21:37   0 days 00:07:48                    0                 NaT                    N                   N
58             73   194730      284305 2170-12-22 00:14:07 2170-12-24 16:32:28   0 days 00:02:07                    0                 NaT                    N                   N
59             74   182637      234057 2180-06-07 19:46:49 2180-06-08 07:09:30   0 days 00:07:49                    0                 NaT                    N                   N
60             75   112086      281607 2147-04-05 10:35:50 2147-04-06 16:31:18   0 days 02:35:50                    0                 NaT                    N                   N
61             77   142768      297831 2164-11-18 07:06:12 2164-11-19 10:58:44   0 days 00:06:12                    0                 NaT                    N                   N
62             79   181542      290076 2175-09-26 01:00:46 2175-09-28 03:00:09   0 days 01:55:46                    0                 NaT                    N                   N
63             80   115385      256068 2148-11-11 12:13:00 2148-11-12 16:46:47   0 days 00:01:00                    0                 NaT                    N                   N
64             81   175016      222874 2192-01-09 18:50:47 2192-01-11 07:10:34   0 days 00:00:47                    0                 NaT                    N                   N
65             83   158569      254066 2142-04-03 10:33:32 2142-04-05 18:05:53   1 days 21:59:32                    0                 NaT                    N                   N
66             85   112077      291697 2167-07-25 18:50:37 2167-07-27 18:37:35   0 days 00:01:37                    0                 NaT                    N                   N
67             87   190659      277633 2191-02-25 21:09:05 2191-04-25 15:38:56   0 days 00:39:05                    0                 NaT                    N                   N
68             88   123010      297289 2111-08-29 03:04:42 2111-08-30 21:08:09   0 days 00:01:42                    0                 NaT                    N                   N
69             89   188646      249786 2185-06-17 05:46:00 2185-06-21 12:00:41   0 days 00:24:00                    0                 NaT                    N                   N
70             92   142807      291001 2122-12-13 19:40:05 2123-03-04 13:47:23   0 days 00:10:05                    0                 NaT                    N                   N
71             97   127870      288376 2105-04-30 08:37:39 2105-05-04 20:05:55   1 days 17:36:39                    0                 NaT                    N                   N
72             98   188606      216929 2137-04-02 15:15:39 2137-04-04 21:06:16   0 days 07:15:39                    0                 NaT                    N                   N
73            100   153952      221100 2157-08-10 12:16:00 2157-08-12 15:04:00   0 days 05:01:00                    0                 NaT                    N                   N
74            101   175533      233111 2196-09-26 18:37:40 2196-10-06 16:01:56   0 days 00:01:40                    1 2196-10-12 13:17:00                    Y                   N
75            103   130744      212246 2144-08-12 17:37:47 2144-08-15 18:11:52   0 days 00:00:47                    0                 NaT                    N                   N
76            103   133550      299890 2144-08-30 23:12:13 2144-08-31 17:32:16   0 days 00:03:13                    1 2144-09-01 14:28:00                    Y                   N
77            104   164025      225366 2184-10-17 07:59:29 2184-10-23 17:01:39   0 days 06:24:29                    0                 NaT                    N                   N
78            105   161160      294980 2189-01-28 16:59:55 2189-02-02 16:55:17   0 days 00:02:55                    0                 NaT                    N                   N
79            107   182383      252542 2121-11-30 19:24:56 2121-12-01 21:20:57   0 days 00:00:56                    0                 NaT                    N                   N
80            109   183350      277062 2137-11-04 19:37:58 2137-11-05 17:04:39   0 days 00:01:58                    0                 NaT                    N                   N
81            109   183350      298630 2137-11-09 13:31:16 2137-11-12 17:56:27   4 days 17:55:16                    0                 NaT                    N                   N
82            109   183350      208379 2137-11-14 20:47:58 2137-11-20 22:38:41  10 days 01:11:58                    0                 NaT                    N                   N
83            109   108375      257698 2140-02-02 02:14:11 2140-02-02 16:23:16   0 days 00:01:11                    0                 NaT                    N                   N
84            109   175347      231823 2140-05-17 14:29:09 2140-05-19 21:23:15   0 days 00:02:09                    0                 NaT                    N                   N
85            109   110668      221610 2140-08-25 14:40:48 2140-08-31 23:34:12   0 days 00:01:48                    0                 NaT                    N                   N
86            109   131345      243978 2141-09-05 20:05:20 2141-09-06 19:41:08   0 days 00:01:20                    0                 NaT                    N                   N
87            109   139061      257358 2141-09-11 10:13:28 2141-09-12 16:53:07   0 days 00:01:28                    0                 NaT                    N                   N
88            109   126055      236124 2141-10-13 23:11:01 2141-10-25 20:49:04   0 days 00:01:01                    0                 NaT                    N                   N
89            109   125288      257134 2141-11-18 14:01:37 2141-11-19 21:35:18   0 days 00:01:37                    0                 NaT                    N                   N
90            109   158943      243532 2142-03-21 09:26:43 2142-03-22 20:38:13   0 days 00:01:43                    0                 NaT                    N                   N
91            109   124398      249219 2142-03-24 16:35:16 2142-03-25 05:37:49   0 days 00:01:16                    0                 NaT                    N                   N
92            109   137510      246183 2142-04-20 13:40:30 2142-04-21 22:04:53   0 days 00:01:30                    0                 NaT                    N                   N
93            109   136572      286860 2142-06-18 03:13:11 2142-06-19 00:02:20   0 days 00:02:11                    0                 NaT                    N                   N
94            109   196721      214027 2142-07-12 15:28:40 2142-07-15 20:45:04   0 days 00:01:40                    0                 NaT                    N                   N
95            109   196721      217934 2142-07-17 07:48:43 2142-07-18 20:28:26   4 days 16:21:43                    0                 NaT                    N                   N
96            109   155726      254406 2142-08-13 04:04:27 2142-08-14 21:55:48   0 days 00:01:27                    0                 NaT                    N                   N
97            110   154943      282073 2110-06-02 02:49:26 2110-06-05 19:47:04   3 days 03:22:26                    0                 NaT                    N                   N
98            111   155897      249202 2144-07-01 04:13:59 2144-07-01 17:56:31   0 days 00:01:59                    1 2144-07-01 14:55:00                    Y                   Y
99            113   109976      224661 2140-12-12 22:48:08 2140-12-13 17:42:46   0 days 00:02:08                    0                 NaT                    N                   N
...           ...      ...         ...                 ...                 ...               ...                  ...                 ...                  ...                 ...
61432       87785   142723      209613 2114-02-18 16:06:22 2114-02-19 16:31:29   0 days 00:01:22                    0                 NaT                    N                   N
61433       87789   186560      270239 2172-02-06 19:09:00 2172-02-07 11:10:57   0 days 00:01:00                    0                 NaT                    N                   N
61434       87794   152117      284004 2128-07-15 20:03:02 2128-07-18 16:28:49   0 days 21:20:02                    0                 NaT                    N                   N
61435       87800   174043      293828 2115-01-09 20:37:42 2115-01-10 22:38:15   0 days 00:01:42                    0                 NaT                    N                   N
61436       87801   176574      293760 2166-04-29 08:54:37 2166-04-30 11:50:58   0 days 01:39:37                    0                 NaT                    N                   N
61437       87809   165183      218871 2110-11-14 16:04:32 2110-11-15 18:03:05   0 days 23:25:32                    0                 NaT                    N                   N
61438       87818   129998      203647 2180-10-09 15:13:57 2180-10-11 16:36:16   0 days 00:01:57                    0                 NaT                    N                   N
61439       87835   168849      235860 2172-05-27 13:08:51 2172-06-02 10:11:51   1 days 12:28:51                    0                 NaT                    N                   N
61440       87847   147666      289497 2111-11-18 12:22:05 2111-11-19 11:32:28   0 days 04:52:05                    0                 NaT                    N                   N

In [48]:

#get patients age

query = query_schema + """
WITH p_table AS( 
    SELECT ie.subject_id
        , ie.hadm_id
        , ie.icustay_id
        , ie.intime
        , ie.outtime
        , (ie.intime - adm.admittime) AS time_before_icu
        , adm.hospital_expire_flag
        , adm.deathtime,
        -- note that there is already a "hospital_expire_flag" field in the admissions table which you could use
        CASE
            WHEN adm.hospital_expire_flag = 1 then 'Y'           
        ELSE 'N'
        END AS NEW_HOSPITAL_EXPIRE_FLAG,
        -- note also that hospital_expire_flag is equivalent to "Is adm.deathtime not null?"
        CASE
            WHEN adm.deathtime BETWEEN ie.intime and ie.outtime
                THEN 'Y'
            -- sometimes there are typographical errors in the death date, so check before intime
            WHEN adm.deathtime <= ie.intime
                THEN 'Y'
            WHEN adm.dischtime <= ie.outtime
                AND adm.discharge_location = 'DEAD/EXPIRED'
                THEN 'Y'
            ELSE 'N'
            END AS ICUSTAY_EXPIRE_FLAG
    FROM 
        icustays ie
    INNER JOIN 
        patients pat
    ON 
        ie.subject_id = pat.subject_id
    INNER JOIN 
        admissions adm
    ON 
        ie.subject_id = adm.subject_id AND
        ie.hadm_id = adm.hadm_id

    WHERE adm.deathtime IS NOT NULL
)
SELECT new_hospital_expire_flag
    , icustay_expire_flag
    , COUNT(*)
FROM p_table
GROUP BY 1,2
"""
df_demo= pd.read_sql_query(query,con)
df_demo

  new_hospital_expire_flag icustay_expire_flag  count
0                        Y                   Y   4621
1                        Y                   N   1988